[2014-11-26 17:17] samreid opened #1 "Rename lightbulb"
Lightbulb as a project name doesn't seem too appealing.  Can we come up with a better name for our charting library?

[2015-02-04 23:19] jbphet commented on #1
How about "tuft" as a nod to Edward Tufte, author of well-known "The Visual Presentation of Quantitative Information".  Or even Tufte.  Other ideas: "compass", or "marinus", who was a Greek cartographer (i.e. chart maker).

[2015-02-04 23:20] jbphet opened #2 "Code review"
The code in this repository should be reviewed, since it has been used in the Neuron sim, which is due to be released fairly soon.

[2015-02-04 23:22] jbphet opened #3 "There are several references to sun in the comment documentation"
Looks like some of the infrastructure for the demo was copied from the Sun repo, and the comments weren't updated.  This was seen during code review, see #2.

[2015-02-04 23:30] jbphet commented on #3
Cleaned up, closing.

[2015-02-04 23:30] #3 closed, assigned to nobody

[2015-02-04 23:33] jbphet opened #4 "XYDataSeries, XYDataSeriesNode, XYPlot do not meet code standards"
There isn't much documentation in this code.  For instance, XYDataSeriesNode has no header comment at all.  XYDataSeries has a header comment that says, "XY Data Series", which isn't very useful. There are a number of public methods with no documentation.  Documentation needs to be added pretty much everywhere. This was noted during code review, see #2.

[2015-02-04 23:51] jbphet opened #5 "Grid lines on XYPlot are drawn using individual line nodes, which is expensive"
The grid lines in the XYPlot are drawn using a set of Scenery Line nodes.  Since each one of these is a separate node, this is much more costly to draw than a single Path node.  This should probably be changed.

[2015-02-04 23:51] jbphet commented on #5
This was found during code review, see #2.

[2015-02-04 23:55] jbphet opened #6 "Incorrect comment?"
The following code was found in XYPlot.  The comment doesn't seem to make sense in this context.  Cut and paste error?

[code]

[2015-02-05 00:13] jbphet opened #7 "XYPlot has two methods that do nothing"
the `step` and `appendPoint` methods on the XYPlot type are empty.  Can they be removed?  If not, it should be clearly documented why they are there.

[2015-02-05 00:19] jbphet opened #8 "Both XYDataSeriesNode and XYPlot draw lines in an expensive way"
Both XYDataSeriesNode and XYPlot draw the lines that represent the data series as a set of connected Line nodes.  From what I understand, this is pretty expensive to redraw, and can be done much more efficiently by having a single Path node, changing the shape, and updating it.

Code excerpt from XYDataSeriesNode:

[code]

Code excerpt from XYPlot:

[code]

[2015-02-06 04:12] samreid commented on #1
At today's meeting, someone suggested "deschartes"--in my opinion a nice wordplay but too tricky if you only see it written.  I also heard the suggestion "uncharted"

[2015-02-06 04:14] samreid commented on #6
Yes, that is likely.  Feel empowered to fix as much lightbulb as you wish!

[2015-02-09 20:18] samreid commented on #1
How about `chartology`?

[2015-02-09 20:37] pixelzoom commented on #1
I like `graphet`, but it's already taken: http://www.graphet.com

[2015-02-10 04:25] samreid commented on #1
Graphite?

[2015-02-10 04:36] pixelzoom commented on #1
http://graphite.wikidot.com

[2015-02-10 04:50] samreid commented on #1
Do you foresee issues in using an "already taken" name?  We do have some precedent for this, good or bad:

Kite: A Data API for Hadoop
http://kitesdk.org/docs/current/

DOT 2.0: Macromolecular Docking Software
http://www.sdsc.edu/CCMS/DOT/

Joist: Estimate, Invoice, & Manage On The Go
https://www.joistapp.com/

etc. etc.

[2015-02-10 05:20] pixelzoom commented on #1
No problem with a taken name when it's used for something different. Eg, PhET's 'kite' has nothing to do with Hadoop. graphite, on the other hand, is an established (2006) graphing tool, used by many large companies (http://graphite.readthedocs.org/en/latest/who-is-using.html). Why would we want to create another graphing library with the same name?

[2015-02-10 06:00] pixelzoom commented on #1
How about griddle?

[2015-02-10 14:47] pixelzoom commented on #1
griddle
chartreuse (chart reuse)
gridiron
gridlock
ingrid (in grid)
axis (bold as love)

[2015-02-10 16:26] samreid commented on #1
Agreed.  I'll create a new issue comment that summarizes the ideas so far, and has columns for votes (on a scale of 1-10), in case that helps.

[2015-02-10 16:38] samreid commented on #1
Here are my votes on the current proposals:

| name | Sam |
| --- | --- |
| lightbulb | 1 |
| tuft | 1 |
| compass | 2 |
| marinus | 3 |
| deschartes | 2 |
| uncharted | 2 |
| chartology | 8 |
| griddle | 6 |
| chartreuse | 7 |
| gridiron | 5 |
| gridlock | 5 |
| ingrid | 3 |
| axis | 1 |

[2015-02-10 21:45] samreid commented on #1
Today we agreed on griddle.  Reassigning to @jbphet for the renaming.

[2015-02-19 15:38] jbphet commented on #1
Renaming complete, tested in Neuron and it worked fine.  Closing.

[2015-02-19 15:38] #1 closed, assigned to jbphet

[2015-02-25 19:15] pixelzoom opened #9 "provide features needed by least-squares-regression"
See https://github.com/phetsims/least-squares-regression/issues/22#issuecomment-76032235

[2015-03-02 22:20] pixelzoom opened #10 "dependencies in package.json and config.js don't match"
griddle-config.js specifies VEGAS, which is missing from package.json.

VIBE is also a prerequisite for VEGAS, and is missing from both files.

[2015-03-03 22:53] jbphet commented on #10
Removed Vegas from the config file - neither the library nor the demo code relies upon it.  This was probably just a cut and paste error from the original setup of this repo.  Closing.

[2015-03-03 22:53] #10 closed, assigned to jbphet

[2015-03-26 23:11] TheDataLeek opened #13 "screenView step is expensive"
Currently as far as I can tell the `screenView.step` functionality tries to create a new frame as soon as it finishes the previous frame. This is expensive is resources and can cause slowdowns. Either some timestep duration needs to be implemented, or we can use javascript's `setInterval` method. Here's an hack using `griddle-main.js` that is much less resource intensive by drawing a frame every 1

[2015-03-31 17:44] samreid opened #14 "add XYPlot.removeSeries"
See https://github.com/phetsims/griddle/pull/12

[2015-03-31 17:46] samreid commented on #14
Here's what I envisioned for XYPlot.removeDataSeries (see commit above).  I tested it out by adding this snippet into the first line of screenView.step() in griddle-main.js

[code]

[2015-03-31 17:50] samreid commented on #13
screenView.step is actually running from requestAnimationFrame rather than setInterval, which is attempting to get 60fps on our platforms.  If you don't want data points added every frame, you could just do something like:

[code]

[2015-03-31 19:07] TheDataLeek commented on #14
This looks good and definitely works. Way simpler than what I was doing. This satisfies #12's purpose. Adding comment in #12 as well.

[2015-03-31 20:56] samreid commented on #14
Perfect, thanks!  Closing.

[2015-03-31 20:56] #14 closed, assigned to samreid

[2015-06-08 17:41] pixelzoom opened #16 "griddle fails lint"
As of griddle master 0b46d224dbf616a8d05c5fcfe109bea0aa073df0,

[code]

[2015-07-15 20:39] samreid opened #17 "build fails"
While testing https://github.com/phetsims/sherpa/issues/45 I noticed griddle fails to build with this error:

[2015-07-16 16:07] pixelzoom commented on #17
Another demo app that fails. Since I fixed 3 of these recently, I'll do this one too.

[2015-07-16 16:45] #17 closed, assigned to pixelzoom

[2015-10-09 23:29] jonathanolson commented on #16
It's passing lint now?

[2015-10-09 23:29] #16 closed, assigned to nobody

[2015-10-09 23:30] jonathanolson opened #18 "Automated testing error"
[code]

[2015-11-16 06:26] pixelzoom commented on #18
Still a problem as of a79a6f6069404d214ce4fc2b5700bafa82a9fb26.

[2015-11-16 06:41] pixelzoom opened #19 "lint error"
Noted in test-server

[code]

[2015-11-16 06:41] #19 closed, assigned to nobody

[2015-11-19 19:41] pixelzoom commented on #18
This occurs in requirejs mode for the griddle demo app, and occurs after the demo app has run for a minute or so.  Looks like there is a limit on number of data points that the demo isn't handling.

[2015-11-20 23:26] jbphet commented on #18
This was due to an intended optimization made while working on the Neuron sim where the max size of the data series had to be specified.  Upon reflection, this probably isn't the best approach, and it would be better to have a default size and allow clients to specify a size via options, but just allocate more if the default or specified size is exceeded (the way that JavaScript does for arrays).

[2015-11-20 23:26] #18 closed, assigned to jbphet

[2016-08-25 23:20] pixelzoom opened #20 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:32] pixelzoom commented on #20
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:32] #20 closed, assigned to pixelzoom

[2016-11-08 17:47] phet-steele opened #21 "Automated Testing Grunt Error (11/8/2016 10:00 AM)"
[code]

[2016-11-08 19:45] aadish commented on #21
fixed, closing

[2016-11-08 19:45] #21 closed, assigned to aadish

[2017-03-09 22:09] aadish commented on #5
similar to issue #8, closing this and tracking it in #8

[2017-03-09 22:09] #5 closed, assigned to nobody

[2017-03-10 03:31] aadish commented on #8
Both XYDataSeriesNode and XYPlot have been optimized the way they were drawing lines, closing

[2017-03-10 03:31] #8 closed, assigned to nobody

[2017-05-04 22:26] samreid opened #22 "Create a reusable bar chart"
It will be used for energy charts for Pendulum Lab, Masses & Springs and Energy Skate Park: Basics (and maybe other sims in the future!)

UPDATE: balancing-chemical-equations also has bar charts

[2017-05-04 22:31] samreid commented on #22
We googled for terminology, and it seems like bar chart and bar graph are technically interchangeable, but it seems that "bar chart" wins the popular vote.

[2017-05-04 22:48] Denz1994 commented on #22
## **Points to consider**

**BarNode:**
- bar object with {property, labelNode, fill, stroke}

**GraphNode:**
- Allow for negative representations of bar values, with a legend instead of label nodes on the x-axis.
- Consider a horizontal orientation.
- Derived length of x-axis based on the number of bars passed in

[2017-05-04 23:03] samreid commented on #22
@Denz1994 and I discussed API and strategy for this and created a scaffolding.  I'll leave the next steps up to you @Denz1994 but let me know if you want to discuss it further.

[2017-06-22 00:33] jonathanolson opened #23 "Automated testing failure"
I'm relying on automated testing to fix some things, and this was flagged for something else.

[code]

[2017-06-22 20:10] #23 closed, assigned to nobody

[2017-06-30 14:44] Denz1994 opened #24 "Vertical Composite Bar is extended too far in y direction."
The vertical bar extends pass the threshold for verticalBarNode. There should be a max height that the bar doesn't pass. As of right now, it seems to be slightly passing that max height.

[2017-07-18 17:44] Denz1994 opened #25 "Additional functions to verticalBarChart.js"
We should look into adding more functions to verticalBarNode.js

Thoughts:

- [ ] changeColor(): changes the fill of the verticalBarNode
- [ ] addOneBar(): add a bar to the chart
- [ ] removeBars(): remove a bar from the chart
- [ ] addBarGroup(): add a group of bars to the chart

[2017-10-12 18:55] Denz1994 commented on #24
A clip area is being used to limit the extension of the bar in the graph.

[2017-10-12 18:55] #24 closed, assigned to Denz1994

[2017-10-13 19:55] Denz1994 commented on #24
Limits on vertical height have been implemented.

[2017-12-21 19:13] samreid opened #26 "Error: Assertion failed: Setting top is invalid when the node has invalid (empty/NaN/infinite) bounds."
From Bayes

[2017-12-21 19:28] Denz1994 commented on #26
Sorry for that I'll work on a fix.

[2017-12-21 19:36] Denz1994 commented on #26
Commit 21574cf639a3ba0b13785e1153d60d8531794edd should fix this.

[2018-01-16 17:18] phet-steele commented on #26
Occurring in automated testing again:

[code]

[2018-01-16 18:52] Denz1994 commented on #26
I was able to reproduce the bug. There was an issue with centering labels that don't exist on the bar chart. Some logic was added to check for their existence before changing their position. This should fix the problem. This resurfaced after manually changing the position of the labels instead of using an HBox for alignment.

[2018-01-16 18:52] #26 closed, assigned to Denz1994

[2018-02-15 13:27] Denz1994 commented on #22
Closing this issue because a common code bar chart and bar node has been created.

[2018-02-15 13:27] #22 closed, assigned to Denz1994

[2018-08-29 22:48] KatieWoe opened #27 "CT: text should be a string or number"
[code]

[2018-09-04 22:10] samreid opened #28 "Use VSlider for the bar chart demo"
In https://github.com/phetsims/wave-interference/issues/111#issuecomment-418533154 @pixelzoom said:

![screenshot_746](https://user-images.githubusercontent.com/3046552/45060207-3c4d9f80-b05c-11e8-9a4d-e390a6fc87e9.png)

I replied

[2018-09-04 22:11] samreid commented on #28
Not sure who to assign this to.  Maybe @zepumph could convert these as part of his review?

[2018-09-04 22:13] pixelzoom commented on #28
I'll do it.

[2018-09-04 22:31] pixelzoom commented on #28
VSliders with color-coded tracks (which is a lot easier than color-coded thumbs):

![screenshot_747](https://user-images.githubusercontent.com/3046552/45060951-88e6aa00-b05f-11e8-952c-a2b398b0dd33.png)

Back to @samreid for review.

[2018-09-04 22:38] pixelzoom opened #29 "BarChartNode TODOs and dead code"
`BarChartNode` has multiple TODOs without associated GitHub issues, and a bit of dead code.

[code]

[2018-09-04 22:43] pixelzoom commented on #7
Looks like someone removed `appendPoint`.

`step` is still there, with comment "// Does nothing for now."

[2018-09-04 22:45] pixelzoom commented on #6
The bit of code reported in https://github.com/phetsims/griddle/issues/6#issue-56606955 no longer exists. Closing.

[2018-09-04 22:45] #6 closed, assigned to nobody

[2018-09-04 22:46] pixelzoom commented on #2
@ariel-phet Since this code review is 3+ years ago, I'm inclined to close this issue.  You thoughts?

[2018-09-04 22:49] pixelzoom commented on #7
I didn't see anything that uses XYPlot `step`, so I deleted it.

Closing.

[2018-09-04 22:49] #7 closed, assigned to nobody

[2018-09-04 22:52] pixelzoom commented on #2
At the time that this issue was opened, "The code in this repository" refers to XYDataSeries, XYDataSeriesNode, and XYPlot.  (This is based on git history.)

[2018-09-04 22:52] pixelzoom commented on #4
At the time that this issue was opened, "this code" referred to XYDataSeries, XYDataSeriesNode, and XYPlot.  (This is based on git history.)

[2018-09-04 22:53] pixelzoom commented on #2
There's only 1 open issue related to this code review (#4), so I'm going to close this issue.

[2018-09-04 22:53] #2 closed, assigned to ariel-phet

[2018-09-04 22:57] pixelzoom commented on #4
XYDataSeries, XYDataSeriesNode, and XYPlot still don't meet PhET code standards. Specifically:

- no visibility annotations for fields
- no visibility annotations for methods
- insufficient header documentation, should give an overview of features/responsibilities

[2018-09-04 23:01] pixelzoom commented on #13
@samreid's proposed solution above seems reasonable.  And no one has worked on this for 3+ years.  So closing as "won't fix".

[2018-09-04 23:01] #13 closed, assigned to nobody

[2018-09-04 23:02] pixelzoom commented on #25
@Denz1994 verticalBarNode.js no longer exists. Is this issue still relevant? Can it be closed? Or should the title be changed?

[2018-09-04 23:25] zepumph commented on #28
Thank you @pixelzoom.

[2018-09-05 00:46] samreid commented on #28
Change set looks good, runtime looks good, thanks, closing.

[2018-09-05 00:46] #28 closed, assigned to samreid

[2018-09-05 14:34] Denz1994 commented on #25
Good catch @pixelzoom. Closing this issue.

[2018-09-05 14:34] #25 closed, assigned to Denz1994

[2018-09-09 02:37] samreid commented on #27
I fixed this several days ago, the problem was that a Text was being passed as a string argument.  It was showing up on the screen somehow.  Anyways, it appears resolved, closing.

[2018-09-09 02:37] #27 closed, assigned to samreid

[2018-09-20 13:00] samreid opened #30 "Review ScrollingChartNode"
From https://github.com/phetsims/wave-interference/issues/24 ScrollingChartNode was introduced for the wave detector tool.  Here is its description:

[code]

Here's the picture from the griddle demo:

![image](https://user-images.githubusercontent.com/679486/45819785-6df07880-bca2-11e8-8ea9-f45fcb25b7c2.png)

Here's a picture of its usage in Wave Interference:

![image](https://user-images.githubu

[2018-09-20 13:04] samreid commented on #30
Questions for the reviewer:

- [x] Should some of the required constructor args be moved to options?
- [x] How would you rename things to avoid having `series.series`?  See line 212.

UPDATE: I addressed these before the review.

[2018-09-20 13:05] samreid commented on #30
I noted stringTest=long is not doing so well, self-assigning until that's addressed:

![image](https://user-images.githubusercontent.com/679486/45820206-8f059900-bca3-11e8-816b-1390b38d9879.png)

[2018-09-20 13:11] samreid commented on #30
Fixed, but leaving self-assigned to check if there's anything else to do before starting review.

[2018-09-24 18:14] samreid commented on #30
I decided to factor out ScrollingChartNode from LabeledChartNode to simplify maintainability and improve customizability in the future.  The files that need review are:
ScrollingChartNode (176 lines)
LabeledScrollingChartNode (121 lines)
GriddleDemoScreenView.demoLabeledScrollingChartNode (48 lines)

I noted the number of lines to quantify the scope/size of what is up for review.  It would be good

[2018-10-08 20:20] jbphet commented on #30
The code looks organized and well documented.  I particularly like the use of the emitter to trigger internal disposal actions - I'll have to try that.

Here are my comments:

+ My main observation is that it says in the header comment, "Like a seismograph, it has pens on the right hand side that record data, and the paper scrolls to the left", but the paper doesn't scroll, only the data does.  I

[2018-10-09 00:18] samreid commented on #30
The decision to have the data curves move but the grid lines remain fixed was by the design team, including @ariel-phet, @arouinfar @KatieWoe and @kathy-phet.  Perhaps I misspoke in comparing it to a seismograph--I think the gridlines are more like an oscilloscope, where they remain fixed.  If I recall correctly, we preferred the static gridlines because the total elapsed time is immaterial in Wav

[2018-10-09 00:20] samreid opened #31 "ScrollingChartNode should have an option to scroll the gridlines"
From #30

The decision to have the data curves move but the grid lines remain fixed was by the design team, including @ariel-phet, @arouinfar @KatieWoe and @kathy-phet.  Perhaps I misspoke in comparing it to a seismograph--I think the gridlines are more like an oscilloscope, where they remain fixed.  If I recall correctly, we preferred the static gridlines because the total elapsed time is immater

[2018-10-09 02:41] samreid commented on #31
Here is @jbphet's full comment from the review:

[2018-10-09 03:10] samreid commented on #30
Can you elaborate on this point?  I tried to get the Gene Expressions data to go off the chart, but couldn't find a combination of parameters to do so.  Do you think it's likely that design teams will want the ScrollingChart data to fall outside of the chart area?  Or are you saying that ScrollingChartNode data can fall outside of its bounds and it shouldn't?

[2018-10-09 03:30] samreid commented on #30
I made several commits to address the recommendations from the review.  For the options, I used the nested options strategy described here: https://github.com/phetsims/phet-info/blob/9942436a3e3d783277fce871f4d346b005868dfe/doc/phet-software-design-patterns.md#nesting

@jbphet back to you for re-review and discussion.  I think I addressed everything aside from https://github.com/phetsims/griddle/i

[2018-10-09 15:41] KatieWoe commented on #31
It doesn't bother me too much, but I'd like to see what the graph scrolling looks like if its easy to do.  I think it might look better, but I might be wrong, and it doesn't look bad to me now.

[2018-10-09 16:21] jbphet commented on #31
@samreid said:

Not to be overly pedantic, but the behavior of this node isn't really how an oscilloscope looks in most cases.  Generally, the signal shown is fixed and repetitive, which is why the fixed grid lines makes sense.  Here is an example from a Youtube vid: https://youtu.be/G_RCyDdt2rM?t=133.

[2018-10-09 16:34] jbphet commented on #30
Sorry, I forgot that it was a bit tricky to make the data go off the chart in the Gene Expression Essentials sim.  Below is what it looks like when this occurs (and the way the clipping looks is admittedly not great since part of the stroke goes above the edge of the chart, but it's the idea that the data would go off the chart instead of being clamped that is what I think we may need):

![image](

[2018-10-09 16:40] jbphet commented on #30
The rest of the commits look good, though I think there are two more options that would be useful and should be easy to add:
+ backgroundColor
+ rightGraphMargin (currently a constant)

[2018-10-10 23:54] samreid commented on #30
The background color may be customized with e.g.: `graphPanelOptions: {fill: 'blue'}`, using the nested options pattern from the phet-software-design-patterns.md.  In the preceding commit, I added more options, usage of DynamicSeries, and clipping, because I don't believe data should ever render outside of the chart area.  Back to @jbphet for feedback.

[2018-10-16 21:29] arouinfar commented on #31
@KatieWoe Bending Light has a very similar tool on the More Tools screen which has a scrolling graph. It should give you an idea of what a scrolling chart would look like, in practice.
![image](https://user-images.githubusercontent.com/8419308/47048317-50a2b300-d157-11e8-8dd1-8e9c2938acae.png)

Personally, I find it easier to compare the curves in the detector when the gridlines aren't also scroll

[2018-10-19 20:25] arouinfar commented on #31
I missed this issue in design meeting yesterday, since it’s not in the wave-interference repo . I don’t want to hold up @samreid’s progress, so @ariel-phet can you review and advise?

[2018-10-24 17:40] jessegreenberg opened #32 "Change griddle to support custom layering?"
In https://github.com/phetsims/energy-skate-park/issues/31 we thought about using griddle for the bar graph in energy-skate-park. But the bar graph in energy-skate-park requires very custom layering and rendering with webgl to remain fast on ipads and keep a lower memory profile. EnergySkateParkScreenView is structured like this for rendering:
[code]
to reduce the number of canvas elements for web

[2018-10-24 17:41] jessegreenberg commented on #32
I am leaning toward not using griddle in energy-skate-park due to the added complexity unless others think it will be required in other places in the future.

[2018-10-25 22:17] arouinfar commented on #31
We discussed this in today's Wave Interference design meeting. We agreed that the static chart was the correct choice for Wave Interference (and eventually Bending Light).

However, @kathy-phet pointed out that the scrolling chart/time axis would still be useful for CCK: AC, particularly in situations which there's exponential decay.

@samreid no need to add the scrolling option just yet. It can w

[2018-10-29 18:18] Denz1994 commented on #32
Just adding to the brainstorming. It seems like the only benefit for introducing layers is to support a set of components with a specific renderer and z-ordering.

If we added support for these layers we could have sim code determine what graph components should be in each layer and what renderer is used via options. Each layer is passed in with a specific set of components and renderer.
[code]
Th

[2018-10-29 18:18] Denz1994 commented on #32
Another suggestion involves removing flexibility by choosing a specific rendering configuration for performance, via an option.

[code]
With this flag set to true, specific layers are configured with the appropriate renderer. The configuration of layer components and renderers that worked for ESP, could be applied here. Any performance enhancements made from this specific layout in ESP may be tran

[2018-11-01 06:15] jonathanolson commented on #32
This sounds relevant to arbitrary types of components in general, not just for griddle.

We could potentially have certain components support re-parenting of certain children? For example, you'd document something as `// @public {Node} (re-parentable)`, and that would make the guarantee that, as long as the parents for the main node (and all re-parentable children) were the same, that it would loo

[2018-11-01 16:34] samreid commented on #32
I'm not opposed to generalizing common code components for reparenting, as long as it is not too complicated or unmaintainable, but if we are dropping support for iPad2, then maybe sims like Energy Skate Park: Basics will no longer need hacks like it used to.

[2018-11-08 16:58] jessegreenberg commented on #32
Thanks for brainstorming @Denz1994. I still think this would overly complicate griddle for something that will likely only be useful in ESP. If similar rendering/layering requirements show up in a second sim that uses griddle then maybe that would be a good time work on this more.

[2018-11-08 22:49] jbphet commented on #30
I tested the background color and it looks great.

I tried testing the clipping area, and I think it's not quite what we want.  For this test, I started with the usage in `GriddleDemoScreenView` and made the data line red and thicker, and then increased the amplitude of the sine wave, and I got this:

![image](https://user-images.githubusercontent.com/3082831/48231802-ab9d8380-e36c-11e8-8d33-1c452

[2018-11-08 22:52] jbphet commented on #30
Also, a minor nit: There are a handful of lines in `ScrollingChartNode` and `LabeledScrollingChartNode` that exceed that 120 column recommendation, and I had to scroll a bit to look at them in my IDE.

[2018-11-19 02:12] samreid commented on #30
Good catch @jbphet, I meant to remove `clampedValue` but forgot to do so.  Thanks for the review!  Commits are above.  Let me know if there is anything else.

[2018-11-19 15:59] jbphet commented on #30
Looks good to me, thanks for creating this.  Closing.

[2018-11-19 15:59] #30 closed, assigned to jbphet

[2018-12-01 04:04] samreid commented on #31
On hold until we reach this for CCK: AC or another sim that warrants this feature.

[2018-12-06 02:46] pixelzoom commented on #32
Am I understanding from this issue that griddle uses WebGL to render bar graphs?  My understanding (from the README.md) is that griddle is supposed to be a charting package based on scenery, usable by all sims.  And I don't think that WebGL should be a required part of something as simple as a bar graph.  If that's an ESP:B requirement for performance, then it doesn't belong in griddle.

[2018-12-06 02:48] samreid commented on #32
To summarize this issue: griddle does not currently support WebGL or even breaking out components so they can be in a dedicated WebGL layer.  The question for this issue is whether we should add support for that one way or another.

Additionally, perhaps we should decide on https://github.com/phetsims/energy-skate-park/issues/42 before deciding this issue.

[2018-12-10 18:20] jessegreenberg commented on #32
In https://github.com/phetsims/energy-skate-park/issues/40, the bars got even more complicated/different from griddle to support a stroked rectangle with webgl, and the layering needed to make the labels visible under semi-transparent bars.

If we proceed with https://github.com/phetsims/energy-skate-park/issues/42 (removing WebGL from the sim) then we can use griddle as is.

I am going to go ahea

[2018-12-10 18:20] #32 closed, assigned to jonathanolson, Denz1994

[2019-04-06 16:21] samreid opened #33 "Griddle charts need to support a "no value" value"
From https://github.com/phetsims/circuit-construction-kit-common/issues/456, we need griddle charts to be able to show blank when there is no value, particularly for temporal/scrolling charts.  To keep the `{number}` API, perhaps this should be accomplished with `NaN`?

[2019-04-06 16:23] samreid commented on #33
I found that the chart system works with `Vector2` which does not support `NaN`, so we will need to change that or use something other than `NaN`

[2019-04-06 16:25] samreid commented on #33
Oh, it looks like Vector2 does support `NaN`, I had forgotten that.

[2019-04-07 02:12] samreid commented on #33
- [x] TODOs marked in the code

[2019-04-07 03:18] samreid commented on #33
This is implemented and working OK for wave-interference and circuit-construction-kit, closing.

[2019-04-07 03:18] #33 closed, assigned to samreid

[2019-04-25 23:27] jessegreenberg opened #34 "Options for BarChartNode labels"
One of the TODOs mentioned in #29 is

[code]

I need to set the maxWidth of the label for https://github.com/phetsims/energy-skate-park/issues/31 so Ill add the options.

[2019-04-26 00:15] jessegreenberg commented on #34
Done in the above commit. @Denz1994 would you please review?

[2019-04-26 00:23] jessegreenberg opened #35 "Add ability to hide BarNodes in BarChartNode"
Energy Skate Park is now using griddle. One of the requirements is that the bars be completely hidden if the values are small enough, and so the custom graph that was used in that sim had
[code]
(where `answer` set the height of the bar).

@Denz1994 @jonathanolson can we add similar functionality to griddle? I am wondering about adding an entry to BarChartNode `entries` that looks like this:

[cod

[2019-04-26 14:14] Denz1994 commented on #34
Thanks for handling this @jessegreenberg.

My only suggestion would be to allow the client to pass in `options.barLabelOptions.rotation` and not explicitly set it in `BarChartNode.js`. So options would look like this:
[code]
This would remove the below assertion and declaration in `BarChartNode.js`
[code]

The initial reason for defaulting to vertical labels was so they would fit on the x-axis in

[2019-04-26 15:02] Denz1994 commented on #35
Perhaps we can get away with extending what is considered an "invalid bar" in `BarNode.js`. Currently, an invalid bar is one with a negative energy value and does so by checking against the scaled value of the bar. These invalid bars only trigger a flag called hasNegative.

We could additionally, make a bar invalid if its value is below a threshold and just make it invisible at that point.

It wou

[2019-05-01 22:31] jessegreenberg commented on #35
It looks like the current implementation of "invalid" would change the bar colors, and this seems like a slightly different usage to me.

What I like about the arbitrary function is that is is general and a bar can be hidden for any reason. But it is more complicated and maybe we will never need this.

But I am also OK with an option like `smallValueThreshold`. For energy-skate-park different bars

[2019-05-01 22:36] jessegreenberg commented on #34
That sounds great @Denz1994, thanks for reviewing. Done in the above commit, can you take a look? Anything else for this issue?

[2019-05-01 23:22] Denz1994 commented on #34
Looks great. I'll close this issue. Thanks for handling this.

[2019-05-01 23:22] #34 closed, assigned to Denz1994

[2019-05-02 00:43] Denz1994 commented on #35
I would opt for the `smallValueThreshold` option because it seems like less overhead and gives us the flag we need to manage visibility.

[2019-05-02 01:40] jessegreenberg commented on #35
Ok, thanks for the consult, I will go ahead with that.

[2019-05-02 23:41] jessegreenberg opened #36 "What is an "invalid" bar?"
While working on #35 I was reviewing BarNode.update and I don't understand what constitutes an "invalid" bar. There is a line of documentation that says the bar is invalid when there is "one negative with multiple values". Perhaps this is sim specific, but I don't understand the case yet.

@Denz1994 could you please explain?

[2019-05-06 18:07] Denz1994 commented on #36
Invalid bars are `BarNodes` with entries that contain negative values. This is useful for composite barNodes (barNodes with multiple entries). If a composite bar node contains a negative value the color is changed (`options.invalidBarColor`) and only the first entry is used to show the range.

This naming convention "invalid bar" was chosen for future cases where a bar node may be considered inval

[2019-05-15 23:51] jessegreenberg commented on #36
Thanks so much @Denz1994 , the documentation you added really helps clarify and I understand now. Thanks!

[2019-05-15 23:51] #36 closed, assigned to jessegreenberg

[2019-05-21 22:55] jessegreenberg commented on #35
Hmm, well I misinterpreted what I needed in ESP. What I actually need is more complicated. For two of the bars, we need to say if the value is less than some threshold, show zero. For the other two bars I need to say, if the value is greater than thresholdA and less than thressholdB, show some minimum height. This can either be accomplished with 3 different options or a single callback like `modif

[2019-05-21 23:36] jessegreenberg commented on #35
This is actually pretty clear and working well now in ESP. @Denz1994 what do you think of the above commits?

Alternatively, we could add the following to  barEntries:
`smallValueThreshold`
`smallValueRange`

and then assert that smallValueThreshold is less than smallValueRange.min (or that only one of these should be used at a time)? But I prefer this general function personally, I think in the f

[2019-05-22 20:33] jessegreenberg opened #37 "Add way to get positioning of BarNodes from BarChartNode"
In Energy Skate Park, we need to position a button under underneath one of a BarNode label like https://user-images.githubusercontent.com/8419308/47312442-98af5300-d5f9-11e8-8c1b-dc79fa96c786.png

It would be helpful to be able to get the positions of bars and labels.

[2019-05-22 22:07] jessegreenberg commented on #37
I added getBarLabelLocation to BarChartNode for this. @Denz1994 would you mind reviewing this?

[2019-05-23 10:29] Denz1994 commented on #37
Just out of curiosity, why wouldn't specifying the `labelNode` not work in this case?

[code]

 I'm looking at `BarChartNode.js`:
[code]

Or do we need more flexibility in where the node is placed?

[2019-05-23 11:08] Denz1994 commented on #35
It seems like we are on track for adding features that modify the scale of the bar in a variety of ways. In that case, we want to keep our options open. The function added as an option is appropriate.

I'm not sure why https://github.com/phetsims/griddle/commit/81951fa56e1db9afc464b26186ce7a749f102645 was changed it looks like the succeeding line overrides `currentY` value making it a no-op. @jess

[2019-05-23 11:25] Denz1994 commented on #35
Now that I'm thinking about this, my most recent [comment](https://github.com/phetsims/griddle/issues/35#issuecomment-495173953) may explain this behavior I'm seeing.

(TE = Total Energy, PE = Potential Energy)
1. Open Bar Chart and set zoom to max (hit plus sign until disabled)
2. Drag the skater, making sure only TE and PE are being updated.
3. Drag skater down towards the ground very slightly.

[2019-05-23 11:34] Denz1994 commented on #35
When you release the drag the thermal energy shows making the total energy make sense. Thermal energy isn't being removed from total energy when dragging.

If https://github.com/phetsims/griddle/issues/35#issuecomment-495173953 is a non-issue then the changes to BarChart are fine and my comments [here](https://github.com/phetsims/griddle/issues/35#issuecomment-495178606) should be moved to another

[2019-05-23 15:32] jessegreenberg commented on #37
Oh my gosh I totally missed this, sorry! Ill give that a try instead.

[2019-05-23 16:07] jessegreenberg commented on #37
That works beautifully, thanks @Denz1994. I am just going to remove my changes for this issue.

[2019-05-23 16:12] jessegreenberg commented on #37
Removed.

[2019-05-23 16:12] #37 closed, assigned to jessegreenberg, Denz1994

[2019-05-23 16:26] jessegreenberg commented on #35
I suspect this to be the case, but I will check with the published sim. The bars in ESP are non-composite so I don't think that https://github.com/phetsims/griddle/commit/81951fa56e1db9afc464b26186ce7a749f102645 is related.

[2019-05-23 16:31] jessegreenberg commented on #35
For https://github.com/phetsims/griddle/issues/35#issuecomment-495173953, I wanted the height to still be constrained to the range which is why `modifyBarHeight` is followed by `constrainValue` for both cases.

[2019-05-23 16:37] jessegreenberg commented on #35
Regarding https://github.com/phetsims/griddle/issues/35#issuecomment-495290029 this is happening in the published sim, it is the result of forcing the PE bar to zero. It is made much more apparent by zooming way in as you pointed out @Denz1994.

![image](https://user-images.githubusercontent.com/6396244/58270109-0883e880-7d57-11e9-9c52-729b57310db3.png)

[2019-05-23 16:38] jessegreenberg commented on #35
@Denz1994 since this is a sim behavior I will move to ESP. What do you think of https://github.com/phetsims/griddle/issues/35#issuecomment-495291719 and are there still issues?

[2019-05-23 16:47] Denz1994 commented on #35
Thanks for the clarification. I don't see an issue with your changes to BarChartNode. This looks good.

I didn't know that the ESP specific point was in the published version. I'll leave it to you to determine the next steps for the observation mentioned. It may not be worth additional time to patch, but I'll defer to you.

[2019-05-23 16:52] jessegreenberg commented on #35
OK, thanks @Denz1994, it will ultimately be a design decision in ESP I think, I will run it by the design team. Thanks for the review, going to close this issue.

[2019-05-23 16:52] #35 closed, assigned to jessegreenberg

[2019-06-05 20:48] jessegreenberg opened #38 "Add option for font of y ticks for XYPlot"
I would like to adjust the font of the y tick labels of XYPlot like you can with the tick labels along the x axis. It seems like tickLabelFont could be applied to both x tick labels and y tick labels, or we could have independent options for each, `xTickLabelFont` and `yTickLabelFont`.

@samreid is listed as the author of XYPlot, so passing the question to him, do you have a preference?

[2019-06-05 20:52] jessegreenberg commented on #38
The only other usage of XYPlot outside of demos is in ProteinLevelChartNode of gene-expression-essentials which has no Y labels with `showYAxisTickMarkLabels: false`, so we if we decide apply tickLabelFont to both it won't have an impact on existing sims.

[2019-06-05 20:58] jessegreenberg commented on #38
I went with applying `tickLabelFont` to both x and y axes, @samreid could you please review?

[2019-06-05 22:19] jessegreenberg opened #39 "Support negative values with XYDataSeriesNode"
XYDataSeriesNode plots relative to the bottom of the bounds rather than the y = 0 tick of the XYPlot. The result is if the range of the plot goes from y = -10 to y = 10,  data points with y = 0 will be drawn at the bottom of the plot around y = -10.

[2019-06-05 22:47] jessegreenberg opened #40 "XYPlot labels assume minY is less than or equal to zero"
Related to #39, the labels look good if the range extends from a minY of less than or equal to zero, but if minY is greater than zero, the bottom of the graph is incorrectly labelled. Here is a plot with minY of 1000:
![image](https://user-images.githubusercontent.com/6396244/58995313-f3747400-87b0-11e9-8e0c-065181b307d0.png)

[2019-06-05 22:50] jessegreenberg commented on #40
It is because of this correction.
[code]

[2019-06-05 22:58] jessegreenberg commented on #39
Proposed fix committed above.

[2019-06-05 23:08] jessegreenberg commented on #40
These are probably here so that the grid lines divide the graph evenly, but that is not the behavior I would expect when providing a given minY, maxY, and stepY. If I remove those lines the graph looks like this, which is more correct in my opinion.

![image](https://user-images.githubusercontent.com/6396244/58996156-3a179d80-87b4-11e9-8bdf-fb7f473ed4a0.png)

But they may be important to keep for

[2019-06-05 23:10] jessegreenberg commented on #39
Assigning to @samreid for review since he is listed as an author, but please let me know if you are unable to review at the moment.

[2019-06-05 23:35] jessegreenberg opened #41 "New way to map XYDataSeries -> XYDataSeriesNode in XYPlot"
The seriesViewMap of XYPlot is trying to map XYDataSeries to XYDataSeriesNodes but Javascript objects cannot map objects to objects. We need a different way to form the map or a different way to get references to XYDataSeriesNodes.

[2019-06-05 23:50] samreid commented on #39
I don't expect to have time to review this in the near future.

[2019-06-06 00:04] jessegreenberg commented on #41
This would be trivial if we could use Map (https://github.com/phetsims/tasks/issues/992) but we could also attach a unique key to each XYDataSeries instance for lookup instead until we know that Map is usable.

[2019-06-06 03:32] samreid commented on #40
Showing the correct `minY` sounds great.  The latter chart seems like we shouldn't show the `12000` because it doesn't match the interval or have a gridline.  But I'm not 100% sure.

[2019-06-06 03:49] samreid commented on #41
The current implementation uses `{}` with object keys--I'm not sure if that is working.  Have you considered something like this?

[code]

This eliminates the extra tracking data structure and just uses children and filtering, and relies on dispose for also doing detach.  It is O(N) instead of O(1) but since we are typically showing less than 1000 data series, this may be acceptable.

[2019-06-10 14:36] jessegreenberg commented on #41
Thanks for taking a look! No it is not working currently, and the above could work for disposal. But in energy-skate-park I need to access individual XYDataSeriesNodes so that they can be made visible/invisible from user controls. My guess is public access to these Nodes was the original intent of the map since it is marked as `@public`.

[2019-06-10 15:27] jessegreenberg commented on #41
I changed the map so that it goes from XYDataSeries.uniqueId -> XYDataSeriesNode for now, we can remove the unique ID on XYDataSeries when we can use Map.

[2019-06-11 23:17] jessegreenberg commented on #41
I promoted this to a TODO in the code that references https://github.com/phetsims/tasks/issues/992 so that this can be changed when Map is supported. This issue can be closed now that XYDataSeriesNodes can be retrieved from the public object.

[2019-06-11 23:17] #41 closed, assigned to jessegreenberg

[2019-06-11 23:18] jessegreenberg commented on #40
Oh, very good point, I agree.

[2019-06-12 03:18] jessegreenberg commented on #40
Hmm, thinking about it more I am actually not as sure either. @amanda-phet do you have an opinion about this? Should the chart in https://github.com/phetsims/griddle/issues/40#issuecomment-499288549 show the 12000 label since the grid lines are spaced at intervals of 4000?

[2019-06-12 03:26] jessegreenberg commented on #39
OK, understood. @ariel-phet could you please recommend another reviewer for griddle for this issue and #38?

[2019-06-12 03:47] jessegreenberg opened #42 "Generalize ChartCursor"
Neuron has a "ChartCursor" which the user can grab and drag move back and forth through time. The same cursor is needed in energy-skate-park so I would like to generalize this component.

![image](https://user-images.githubusercontent.com/6396244/59322231-41064a80-8ca3-11e9-83c4-b6047afe49df.png)

@jbphet do you have thoughts or recommendations about this since you are the author of ChartCursor?

[2019-06-12 15:37] jessegreenberg commented on #42
It seems like we could just move the cursor graphic to griddle or we could generalize more of the functionality of the cursor. If we generalize the functionality of the cursor, we probably will want to generalize portions of the time chart too since the cursor is pretty coupled with the chart. I think that would be the best way to go so I am going to look into that.

[2019-06-12 16:11] jbphet commented on #42
I don't have a ton of thoughts on this, since I did it quite a while ago, but I have one idea on how to improve it.  I have noticed that people tend to miss this feature, and that seems like a shame, because it's very cool and adds a lot to the sim.  I think the cursor itself should highlight noticeably when the mouse goes over it so that users are more likely to notice it and try it out.

[2019-06-12 16:17] jessegreenberg commented on #42
OK, that sounds good, thanks!

[2019-06-12 17:35] jessegreenberg opened #43 "XYDataSeries needs a removePoint"
It might also be efficient to  include a `removePoints` function that removes a bunch of points and then calls listeners so that we don't call listeners on every point removal when we remove a bunch of points at once.

[2019-06-12 19:11] ariel-phet commented on #39
@veillette said he is happy to do this review

[2019-06-12 22:11] jessegreenberg commented on #43
Mostly done in the above commit.

[2019-06-13 13:18] veillette commented on #38
That's a reasonable approach. Closing

[2019-06-13 13:18] #38 closed, assigned to veillette

[2019-06-13 13:52] veillette commented on #39
@jessegreenberg, I reviewed your work to support to negative values.  Good work. Closing

[2019-06-13 13:52] #39 closed, assigned to veillette

[2019-06-19 20:37] amanda-phet commented on #40
What is this graph for? The y-axis in https://github.com/phetsims/griddle/issues/40#issuecomment-499288549 looks really strange to me, but if it is to scale then it's not incorrect.

The best thing to do is probably include a break in the graph. Both axes will start at 0, but if you see a visible break that helps to orient the viewer. Then include a line at the minimum value (1000) and lines incre

[2019-06-20 18:28] jessegreenberg commented on #40
Thanks @amanda-phet that does help! I was working on energy-skate-park but a range like this isn't used anywhere yet, I just discovered that the graph is drawn incorrectly if minY starts at something greater than zero. Adding a break towards the bottom makes a lot of sense.

How about the top of the graph, in general should "12000" be displayed? The grid is separated by "4000" , the next grid line

[2019-06-20 19:56] jessegreenberg opened #44 "Add ability to zoom in/out of XYPlot"
I need this for energy-skate-park, there currently isn't a way to zoom in on an XYPlot.

[2019-06-20 19:59] jessegreenberg commented on #44
BarNode from BarChartNode uses scaleProperty, I might do something similar. But this time the scale should apply to the entire chart rather than just the bar.

[2019-06-20 20:06] jessegreenberg commented on #44
Alternatively, one could set minX, maxX, minY, maxY, stepX, stepY dynamically.

[2019-06-25 16:00] jessegreenberg opened #45 "Add a scatter plot"
In energy-skate-park we will need a scatter plot that will look something like this:
![image](https://user-images.githubusercontent.com/6396244/60113553-00490f80-9740-11e9-95b8-4cdb5e26344e.png)

And it should be added to griddle.

Like XYPlot, data will be added and removed through XYDataSeries.  Portions of XYPlot will be reused by this so I think we could do this one of two ways:
We could creat

[2019-06-25 16:20] jessegreenberg commented on #45
The second option is also nice because then a single XYPlot can change how it is displayed. We could have a setPlotStyle method that sets scatter vs line.

[2019-07-03 17:27] jessegreenberg commented on #45
Next, we need the ability for points to fade out in energy-skate-park. This won't be straight forward because we don't have access to individual points which are drawn on the canvas.

This could be done by creating a new array in XYDataSeries like `pointOpacities`, with values at indices that match points in `xPoints` and `yPoints`. This gets added optionally on addPoint.

It could be made more ge

[2019-07-03 23:23] jessegreenberg commented on #45
An initial commit for this was done above, it is working well. So far only opacity is supported but now other things can be added.

[2019-07-03 23:51] jessegreenberg commented on #45
Above commit finishes this. A new type called PointStyle was added to support this customization, it is being used in energy-skate-park now.

[2019-09-10 05:19] samreid commented on #31
Tagging for https://github.com/phetsims/circuit-construction-kit-common/issues/449 and self-unassigning, will address as part of that issue.

UPDATE: also https://github.com/phetsims/circuit-construction-kit-common/issues/528

[2019-11-19 01:14] samreid commented on #44
For Circuit Construction Kit: AC, I'll need to add zoom in/out buttons for the scrolling chart node.  Not sure how much they will overlap with XYPlot zoom buttons.

[2019-12-02 21:31] pixelzoom opened #46 "duplication of implementation for XY data"
In Natural Selection, we have an XY chart.  The x axis is time ("Generation"), the y axis is number of bunnies ("Population").  There are 7 dynamic data sets displayed simultaneously on this chart -- 1 for total population, the other 6 for specific traits (e.g. "number of bunnies with brown fur").   The x-axis is scrollable, the y-axis is zoomable.  When data fills the chart, the chart will begin

[2019-12-02 21:37] samreid commented on #46
More notes from slack that may be relevant to work in these files:

Sam Reid
I don’t really understand why XYDataSeries supports a different style for each point in a series. At a minimum, XYDataSeries should be rewritten to use a single array instead of parallel arrays, and should use Emitter instead of its own listener pattern.

Jesse Greenberg
It was required for energy-skate-park, older points

[2019-12-23 16:07] Denz1994 commented on #29
As part of https://github.com/phetsims/tasks/issues/1017:
The header documentation has been edited to note that `BarChartNode` is vertically aligned. There is no motive to add horizontal support at this moment. If horizontal support is needed it should be addressed in a specific issue.

The dead code above was removed at some point.

[2019-12-23 16:08] #29 closed, assigned to nobody

[2019-12-23 16:17] Denz1994 opened #47 "Decimal places dependent on zoom level?"
Opening this issue to track progress on , as a part of  during https://github.com/phetsims/tasks/issues/1017
[code]
It seems like the motive here is that zooming in/out on a graph should update the number of decimal places. I will leave for a designer to detail specifics for the desired behavior or if we still want this behavior at all.

[2019-12-27 23:01] samreid commented on #46
There are also two xy charts, one called ScrollingChartNode and one called XYPlot.  These should be unified as much as possible.  Right now they have very different strategies for mapping the data coordinates, different rendering strategies and cannot be maintained together easily.

[2019-12-28 02:19] samreid commented on #46
I'm working on parts of this issue, self-assigning.

[2019-12-28 02:20] samreid commented on #44
@jessegreenberg is this feature necessary for Energy Skate Park?  What is the design?  I'm working on a related feature for CCK.

[2020-01-06 21:17] arouinfar commented on #47
@Denz1994 I think it really depends on the range of values. If the range is large, we will likely need to support varying the number of decimal places with the zoom level. I think the specifics will always depend on the sim, so I'm not sure what the general solution would be.

[2020-01-08 02:28] ariel-phet commented on #46
@samreid thanks for self-assigning. Definitely good to consult with @jessegreenberg as you continue (and it looks as though you have been already).

[2020-01-09 04:45] samreid commented on #31
Patch of my incremental progress:

<details>

[code]

</details>

[2020-01-14 18:52] samreid opened #48 "ScrollingChartNode needs to clarify who is responsible for managing/resetting/disposing dynamicSeriesArray"
ScrollingChartNode needs to clarify who is responsible for managing/resetting/disposing dynamicSeriesArray

[2020-01-21 17:13] samreid commented on #31
More work on this today, but I haven't committed since the changes are not compatible with Wave Interference yet:

<details>

[code]

</details>

[2020-03-03 21:17] samreid commented on #46
Tagging for https://github.com/phetsims/energy-skate-park/issues/202.  It would be good to finish this consolidation and make it usable by Energy Skate Park, Wave Interference, Natural Selection and Circuit Construction Kit.

[2020-04-30 23:22] jessegreenberg opened #49 "Make it possible to set color of text labels on BarChartNode"
They currently match the color of the bar only.

[2020-05-01 00:03] jessegreenberg commented on #49
This is done.  There is now an entry to the "bar" object called `labelColor` which can specify the color of the label. The default is now black, NOT the bar color. I went with this because in https://github.com/phetsims/energy-skate-park/issues/240 @arouinfar said

This would impact pendulum-lab and masses-and-springs. I kept the labels with their colors for now. @arouinfar can you confirm that th

[2020-05-01 17:30] arouinfar commented on #49
@jessegreenberg yes, I think we should change the labels in pendulum-lab and masses-and-springs to black. In the graph, the text is right next to the bar so I don't think an extra level of color-cueing is necessary. These sims do have an energy legend that I think we'll need to make some design tweaks to, so I'll open an issue in the sim repos.

| Color | [Contrast Ratio Against White](https://web

[2020-05-01 21:35] jessegreenberg commented on #49
OK thanks @arouinfar  - since you have made issues for the above two sims I think this issue can be closed.

[2020-05-01 21:55] arouinfar commented on #49
@jessegreenberg I opened issues to fix the Energy Legend dialog which use the same colors as the bar graph labels, but I'd assumed the graph labels would be changed to black in this issue. Can you make this change, or should I open issues in the sim repos for that as well?

[2020-05-01 22:04] jessegreenberg commented on #49
Ah sorry, I thought those issues included the change to the graphs as well. I can definitely do that here.

[2020-05-05 03:33] jessegreenberg commented on #49
OK, labels have been made black. Anything else to do @arouinfar?

[2020-05-05 22:46] arouinfar commented on #49
Looks good in master, thanks @jessegreenberg!

[2020-05-05 22:46] #49 closed, assigned to arouinfar

[2020-05-24 13:49] pixelzoom opened #50 "XYPlot needs to be generalized"
I took another look at XYPlot, possibly for reuse in Natural Selection.  It's still has many problems that inhibit general use.

- [x] Recommended to rename XYPlot to XYPlotNode, to follow the convention used elsewhere in griddle (ScrollingPlotNode, XYDataSeriesNode,...)

- [x] Creating the grid and axes should also not be the responsibitites of this node, since a grid and axes are more general.

[2020-05-26 18:53] ariel-phet commented on #50
@jessegreenberg will look into making the simpler improvements in the near future

[2020-05-27 20:18] jessegreenberg opened #51 "Move GridNode from scenery-phet to griddle"
From https://github.com/phetsims/scenery-phet/issues/601, @pixelzoom pointed out that it would be better for GridNode to live in griddle.

[2020-05-27 20:57] jessegreenberg commented on #51
GridNode has been moved to griddle.

[2020-05-27 20:57] #51 closed, assigned to jessegreenberg

[2020-05-27 22:16] jessegreenberg opened #52 "GridNode should use model coordinates"
REcommended in https://github.com/phetsims/scenery-phet/issues/601. This would make #50 easier as well since plots are generally using model coordinates.

[2020-05-27 22:32] jessegreenberg commented on #52
GridNode now uses model coordinates and has an optional ModelViewTransform2.

[2020-05-28 16:36] jessegreenberg commented on #52
Reopening, I no longer thing this is the right way to go. GridNode needs to change its line spacings to support things like zooming in. The model-view transform cannot be used as is currently implemented because grid width and height are in model coordinates too, so changing scale will make the entire grid larger/smaller.

From https://github.com/phetsims/scenery-phet/issues/601#issuecomment-63545

[2020-05-28 16:50] jessegreenberg commented on #52
GridNode is back to view coordinates.

[2020-05-28 16:50] #52 closed, assigned to jessegreenberg

[2020-05-28 17:34] jessegreenberg opened #53 "XYPlotNode should use GridNode"
Part of #50, but this could cause enough changes to XYPlotNode to warrant its own issue. One of the issues is that the API for XYPlotNode width/height and intervals is very different from GridNode, they should be more similar.

[2020-06-01 17:04] samreid opened #54 "What is the big picture plan for 2d charts in griddle?"
I saw some issues like https://github.com/phetsims/griddle/issues/50 and https://github.com/phetsims/griddle/issues/53 and thought we should discuss how to move forward with griddle.

The main problem is that there are two implementations, as described in https://github.com/phetsims/griddle/issues/46.  One is capable of scrolling (ScrollingChartNode) and the other is not capable of scrolling (XYPl

[2020-06-01 17:07] samreid commented on #54
From slack, before I wrote up this issue:

@jessegreenberg said:

@samreid replied:

@jessegreenberg said:

@samreid said:

@jessegreenberg said:

@samreid said:

Assigning @pixelzoom and @ariel-phet for discussion or comment.

[2020-06-01 17:30] jessegreenberg commented on #54
I think this is right. An example of things to do might include
 - ScrollingChartNode should use GridNode, and the grid should also scroll.
 - Move things out of ScrollingChartNode that should be added with decoration by subtypes (zoom buttons, the "span" node, axis labels)
 - Labels needed for vertical grid lines.
 - ScrollingChartNode was implemented with "time" in mind, perhaps generalize by re

[2020-06-01 17:31] jessegreenberg commented on #50
This is on hold, and we may just close this and invest in ScrollingChartNode instead, see #54.

[2020-06-01 17:32] jessegreenberg commented on #53
On hold, we may just generalize SCrollingChartNode isntead, see #54.

[2020-06-01 17:39] samreid commented on #54
That all sounds great, thanks!

[2020-06-01 21:17] jessegreenberg commented on #46
From #54 I listed out a few more places where ScrollingChartNode could be generalized
 - ScrollingChartNode should use GridNode, and the grid should also scroll.
 - Move things out of ScrollingChartNode that should be added with decoration by subtypes (zoom buttons, the "span" node, axis labels)
 - Labels needed for vertical grid lines.
- ScrollingChartNode was implemented with "time" in mind, per

[2020-06-02 15:49] pixelzoom commented on #54
I don't know what the big-picture plan is for griddle.

[2020-06-02 18:08] jessegreenberg commented on #46
I started to work on this. ScrollingChartNode now uses GridNode. I then started to work on the other things listed, its coming along.
1) A settable ModelViewTransform so that data doesn't have to stream form the right side of the scrolling chart.
2) "Seismograph" specific things are moved to a new SeismographNode (span label, zoom buttons, specifc transform).

I wasn't able to get to a commit poin

[2020-06-11 21:43] samreid commented on #46
@jessegreenberg has been taking the lead on this and #54, I'll self-unassign for now, but please invite me back when appropriate.

[2020-06-11 22:48] jessegreenberg opened #55 "Should the grid on a seismograph scroll?"
For instance, should it look like this?
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/6396244/84446596-d2d8c880-ac13-11ea-9b53-2104d7a51031.gif)

or like this?

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/6396244/84446662-0156a380-ac14-11ea-9b24-8371076dcf2c.gif)

Or do we need to support both?

[2020-06-12 04:56] samreid commented on #31
@jessegreenberg will you be working on this aspect?

[2020-06-12 16:02] samreid commented on #48
@jessegreenberg you mentioned you are doing significant work on ScrollingChartNode.  Will this be in the scope of your efforts?

[2020-06-12 20:30] jessegreenberg commented on #55
I added support for both, and by default the grid does not scroll.

[2020-06-12 20:30] #55 closed, assigned to arouinfar

[2020-06-17 19:00] ariel-phet commented on #54
@samreid @jessegreenberg in terms of "big picture" I would say the next big sims on the horizon likely to need support (besides Natural Selection) will be **Moving Man** (likely) and **Fourier: Making Waves** (definitely, since we have funding secure)

Currently, I do not believe there are any design changes planned for the chart aspects of Moving Man, so the Java version should be a good starting

[2020-06-17 20:13] pixelzoom commented on #54
Summary of graphs in the Java version of "Fourier: Making Waves".  Recommended to run the sim to get first-hand experience. I don't know what will be added/removed/changed for the HTML5 version, so this may not be complete/correct.

* Bar graph to set amplitudes of Fourier components. Bars are interactive, with adjustable bar height - interacting with the bars changes the component amplitudes. Des

[2020-06-29 19:53] jessegreenberg opened #56 "ScrollingChartNode needs to be faster"
It is quite slow in its usage in causing energy-skate-park and needs to be optimized.

What comes to mind immediately is that this chart is drawn with Path/Shape rather than CanvasNode, and the shapes are somewhat complex. The chart is also redrawn frequenly as Properties change (modelViewTransformProperty,  valueProperty, changes to DynamicSeries). If we use CanvasNode, we can  be sure that the c

[2020-06-29 22:05] jessegreenberg commented on #56
DynamicSeriesNode is now drawn with CanvasNode, and it is substantially faster in energy-skate-park. This work is being done as part of improvements for #46, and so closing this issue to be continued there.

[2020-06-29 22:05] #56 closed, assigned to jessegreenberg

[2020-07-02 15:35] jessegreenberg opened #57 "Scrolling GridNode with dashed lines looks strange"
Not all lines move with transform, we just draw lines that are needed in the view. So if the line has a line dash, the dashed lines may not move and it looks strange. Noticed in eneryg-skate-park with the scrolling energy plot.

[2020-07-02 19:29] jessegreenberg commented on #57
We can likely use lineDashOffset for this without changing the implementation in gridNode too much. However, one challenge is that we have only two Paths in the GridNode - one for the major lines, one for the minor lines. We need a different offset for *vertical* lines and *horizontal* lines, in addition to major and minor.

So we would need a `minorHorizontalPath`, 'minorVerticalPath', 'majorHori

[2020-07-06 16:26] jessegreenberg commented on #57
Well, coming back to this - https://github.com/phetsims/griddle/issues/57#issuecomment-653183902 would not work if the grid transform had some rotation. And that other grid drawing code would not work with rotation either.

But the transform uses ModelViewTransform2, which also does not allow arbitrary rotation. So I think this is an OK limitation and will still proceed with this.

[2020-07-06 18:32] jessegreenberg commented on #57
Done in the above commit.

[2020-07-06 18:32] #57 closed, assigned to jessegreenberg

[2020-07-06 19:23] jessegreenberg opened #58 "Can ScrollingChartNode 'graphPanelOverlay' be removed?"
There is this child:
[code]

But the graph panel **does** use clipping
[code]
And performance seems good in existing usages of ScrollingChartNode. Can the child Rectangle be removed?

[2020-07-06 19:25] jessegreenberg commented on #58
When I remove it, you can see that data is clipped correctly, but gets plotted onto the border stroke - which matches the comment documentation which I now understand better.

![image](https://user-images.githubusercontent.com/6396244/86632156-06054200-bf9d-11ea-81eb-7ece3decdf95.png)

[2020-07-06 19:27] jessegreenberg commented on #58
But another problem is that to change the stroke color, you don't go through `graphPanelOptions`, you have to go through `graphPanelOverlayOptions`, which is a little confusing.

[2020-07-06 19:42] jessegreenberg commented on #58
I tried removing the Recangle but we still have the grid line dashes in https://github.com/phetsims/griddle/issues/58#issuecomment-654422057, I am going to keep the Rectangle but try to remove the public options. I don't see them being used anywhere. And pople should be using `graphPanelOptions` not `graphPanelOverlayOptions`.

[2020-07-06 20:11] jessegreenberg commented on #58
Done in the above commits.

[2020-07-06 20:11] #58 closed, assigned to jessegreenberg

[2020-08-10 18:08] samreid opened #59 "Supplemental Code Review for GridNode"
GridNode was developed in https://github.com/phetsims/scenery-phet/issues/580 and I had a chance to take it for a test drive in Gravity and Orbits for https://github.com/phetsims/gravity-and-orbits/issues/328.  It's mostly working great but I saw some opportunities for improvements, so thought I should share them.

In this code:

[code]

- [x] `lineType` should have type `LineType`
- [x] the retur

[2020-08-11 18:51] jessegreenberg commented on #59
Thanks for the review comments! I made commits involving the incorrect/lacking documentation above, and addressed the code duplication with `getHorizontalLinePositionsInGrid` and `getVerticalLinePositionsInGrid`.

I played around with it but I think it is a wash. The spacing fields on GridNode  would be passed to the Map by value so the Map would need to be updated every time spacing changed. I ki

[2020-08-11 23:03] samreid opened #60 "Remove getSpacingFromLineType"
During https://github.com/phetsims/griddle/issues/59 I noticed `getSpacingFromLineType`.  During the review, I found that function may be unnecessary.  Here is a proposed patch which seems to work properly in the griddle harness:

<details>

[code]

</details>

It uses existing values for spacing and direct lookup to get the values.  @jessegreenberg does this look good to you?  If so, feel free to

[2020-08-12 01:20] samreid opened #61 "Precision looks incorrect for GridNode assertions"
From https://github.com/phetsims/griddle/issues/59, it looks like the tolerance is a bit too high:

[code]

Did you mean 1E-10?

[2020-08-12 01:30] samreid opened #62 "GridNode API for setLineSpacings"
In https://github.com/phetsims/griddle/issues/59 we determined that you should be able to specify multiple line spacings at once since there are interdependencies.  However, the existing API leads to usage sites like:

[code]

Would this be easier to read as a named config?

[code]

[2020-08-12 01:33] samreid commented on #59
Everything looks really great, nice work @jessegreenberg.  I opened side issues for the remaining work and I think this one can be closed.

[2020-08-12 01:33] #59 closed, assigned to samreid

[2020-08-12 01:36] samreid commented on #62
Or how about `setHorizontalLineSpacings` + `setVerticalLineSpacings`, each with 2 required arguments?

[2020-08-12 01:44] samreid commented on #62
Also, if the minor lines are constrained to line up with the major lines, would a superior API be to specify `numberOfMinorTicksPerMajor` or equivalent, so that it automatically divides equally?

[2020-09-08 16:26] jessegreenberg commented on #62
This was considered in https://github.com/phetsims/scenery-phet/issues/601, but since it is important to require that at least one spacing is defined across horizontal and vertical it is important to specify all at once.

In my opinion this is more inconvenient. Very often the spacing will be in model coordinates, and it seems the client would have to calculate `numberOfMinorTicksPerMajor` themsel

[2020-09-08 19:16] jessegreenberg commented on #61
Wow, yes I did, thanks!

[2020-09-08 19:24] jessegreenberg commented on #61
Fixed in the above commit. The assertion was basically not checking anything before so running local aqua now that it is as intended.

[2020-09-08 19:45] jessegreenberg commented on #60
This looks great @samreid thanks! I committed this.

[2020-09-08 19:45] #60 closed, assigned to jessegreenberg

[2020-09-08 19:49] jessegreenberg commented on #62
OK I used a config for this and updated sites. @samreid would you like to review?

[2020-09-08 19:57] jessegreenberg commented on #61
So far so good on local testing and the latest iteration on CT is ~older~ newer than this commit. Closing.

[2020-09-08 19:57] #61 closed, assigned to jessegreenberg

[2020-09-08 20:01] jessegreenberg commented on #53
ScrollingChartNode should now support everything XYPlotNode does and a bit more and is more up to date. I am going to mark XYPlotNode as deprecated and close this issue.

[2020-09-08 20:01] #53 closed, assigned to jessegreenberg

[2020-09-08 20:27] samreid commented on #62
I reviewed the commits and they look very nice, thanks!  Closing.

[2020-09-08 20:27] #62 closed, assigned to samreid

[2020-09-08 20:41] jessegreenberg commented on #44
This is a feature of ScrollingChartNode, and XYPlotNode is deprecated. Closing.

[2020-09-08 20:41] #44 closed, assigned to jessegreenberg

[2020-09-08 20:44] jessegreenberg opened #63 "Delete XYPlotNode"
It looks like the only usage of XYPlotNode is currently in gene-expression-essentials. If that usage can be removed we can remove XYPlotNode and then rename ScrollingChartNode to something more general.

[2020-09-08 20:46] jessegreenberg commented on #63
This would likely be the last thing needed for the mega-issue https://github.com/phetsims/griddle/issues/63.

[2020-09-08 20:50] jessegreenberg opened #64 "Remove timeProperty from DynamicSeriesNode"
It appears unused.

[2020-09-08 20:59] jessegreenberg commented on #64
It has been removed.

[2020-09-08 20:59] #64 closed, assigned to nobody

[2020-09-08 21:00] jessegreenberg opened #65 "valueProperty should not be a required param for ScrollingChartNode"
The valueProperty should not be required. In fact, I think it is currently unused in ScrollingChartNode. It may be required for SeismographNode and is prbably left over from when this class was more like a seismograph.

[2020-09-08 21:06] jessegreenberg commented on #65
It has been removed from ScrollingChartNode, which should make #63 easier.

[2020-09-08 21:06] #65 closed, assigned to jessegreenberg

[2020-09-08 22:35] jessegreenberg commented on #63
There are no more usages of XYPlotNode. @samreid you are listed as an original author. Are you OK with removing XYPlotNode as well as XYDataSeriesNode, now that these can be replaced by ScrollingChartNode + DynamicSeriesNode? This would potentially close up #63.

Then we can rename ScrollingChartNode to something more general potentially.

[2020-09-09 00:46] samreid commented on #63
Energy Skate Park is having a CT failure possibly related to this:

[code]

Please reassign to me after that's addressed.

[2020-09-09 15:03] KatieWoe opened #66 "CT object is not compatible with merge"
[code]

[2020-09-09 15:55] jessegreenberg commented on #66
Sorry about that, fixed in the above commit.

[2020-09-09 15:55] #66 closed, assigned to jessegreenberg

[2020-09-09 15:56] jessegreenberg commented on #63
Sorry about that, fixed in https://github.com/phetsims/griddle/issues/66. Was from #65.

[2020-09-14 17:29] jessegreenberg opened #67 "SeismographNode redraws grid more often than necessary"
While looking at https://github.com/phetsims/circuit-construction-kit-common/issues/600 I noticed that the grid is being redrawn every single animation frame even when the grid is not changing.

THis is being called:
[code]

even if transform is the same, it is still a new instance and so gridTransformProperty changes, triggering a full redraw of the grid and other things.

[2020-09-14 17:45] pixelzoom opened #68 "BarChartNode leaks memory"
BarChartNode adds 2 observers to param `rangeProperty` and never cleans them up. This is a memory leak.

[2020-09-14 17:52] pixelzoom commented on #68
Memory leak fixed in the above commit by combining observers and overriding `dispose`.

I also renamed `rangeProperty` to `yRangeProperty`, since BarChartNode has both `xAxis` and `yAxis`.

@Denz1994 would you mind reviewing?

[2020-09-14 18:19] jessegreenberg commented on #67
The transform Property is only set now if the matrix is different.

[2020-09-14 18:19] #67 closed, assigned to jessegreenberg

[2020-09-14 19:16] pixelzoom opened #69 "delete deprecated classes in griddle?"
Noted while working on https://github.com/phetsims/tasks/issues/1044.

XYPlotNode and XYDataSeriesNode are both annotated as `@deprecated`.  They are only used in the griddle demo.  Is there any reason not to delete them?

Unfortunately I noticed this after spending the time to convert XYDataSeriesNode to ES6.   Fortunately I noticed before converting XYPlotNode to ES6.

[2020-09-14 20:24] samreid commented on #69
Yes, I'll delete them as part of https://github.com/phetsims/griddle/issues/63

[2020-09-14 20:24] #69 closed, assigned to samreid

[2020-09-14 20:28] samreid commented on #63
I removed them in the commit.

Is it general enough to just be `ChartNode`?  What name do you recommend?

[2020-09-16 16:47] jessegreenberg commented on #63
We still have BarChartNode, so distinguishing from that would be good. ScrollingChartNode can show both line and scatter representations. How about PlotNode? To me that could include line and scatter, but excludes bar charts.

[2020-09-17 03:52] samreid commented on #63
That sounds reasonable to me, but I recommend you run it past @pixelzoom and perhaps other developers to get consensus.

[2020-09-17 15:15] pixelzoom commented on #63
If griddle will only handle 2D data, then PlotNode is fine.  If you think it might handle other dimensions, then it's not sufficiently descriptive - and neither is ScrollingChartNode, DynamicSeries, etc.

If I recall correctly, JFreeChart used "XY" prefix rather consistently for 2D charts, data sets, etc. and that made things super clear.

[2020-09-17 15:17] pixelzoom commented on #63
Also note that you still have XYCursorPlot.   It's a subclass of ScrollingChartNode with an interactive cursor, and the name doesn't tell me that.

[2020-09-17 16:16] pixelzoom opened #70 "XYCursorChartNode code review and getDataExists bug"
Added to XYCursorPlot in by @jessegreenberg in 7fe14e2063bb6b3d3897b5794f012e211b00c276:

[code]

This function returns boolean, and line 219 is violating that -- and probably returning falsy!

[2020-09-17 16:20] pixelzoom commented on #70
Also note:

(1) Functions with multiple return points are (in general) an anti-pattern to be avoided.

(2) If you are going to use multiple return points, there's no need for `dataExists`:

[code]

[2020-09-17 16:26] pixelzoom commented on #70
Since you're only looking at `dataSeries` (the keys), you should probably be iterating over `this.valueSeriesListenerMap.keys`, like (untested):

[code]

Also...

- [x] The definition of `this.valueSeriesListenerMap` is insufficiently documented and would fail code review. For Maps, you should document the type of keys and values.

[code]

[2020-09-17 16:41] pixelzoom commented on #70
Sorry to turn this into a code review, but I'm in here because of https://github.com/phetsims/fourier-making-waves/issues/3.

There is confusing inconsistency with how you refer to the Map keys.  The name `this.valueSeriesListenerMap` leads me to believe that the keys are "valueSeries".   They are also named as parameters `dataSeries` and `dynamicSeries`, and put in `this.dynamicSeriesList`.   The

[2020-09-17 16:44] pixelzoom commented on #70
- [x] `this.dynamicSeriesList = [];` is missing visibility annotation.  Based on current uses, it would be `@protected` -- only used in subclass EnergyPlot.  But it's unclear whether you meant for it to be `@public`.  In either case it should also be `(read-only)` because add/remove is handled by `addDynamicSeries` and `removeDynamicSeries`.

EDIT: I made it `@protected (read-only)` and renamed to

[2020-09-17 16:46] pixelzoom commented on #70
- [x] `updateChartCursorPos` is a non-standard abbreviation that fails code review.  Rename to `updateChartCursorPosition`.

[2020-09-17 16:47] pixelzoom commented on #70
- [x] Co-locate `addDynamicSeries` and `removeDynamicSeries` in the source file.  Why are they separated by almost 100 lines?

[2020-09-17 16:48] pixelzoom commented on #70
I've converted actionable things in the above comments to checklist items.

[2020-09-17 16:51] pixelzoom commented on #70
Probably faster if I make these changes and have @jessegreenberg review. Self assigning.

[2020-09-17 16:55] pixelzoom commented on #70
- [x] Same problem with cursor-related methods, e.g. `setCursorValue`, `getCursorValue`, etc.   It's very helpful to the reader to group related functions.

[2020-09-17 17:35] pixelzoom commented on #70
- [x] The implementation sometimes refers to "cursor" (e.g `setCursorValue`) and sometimes "chart cursor" (e.g `updateChartCursorVisibility`.   Pick one and use it consistently.

[2020-09-17 18:04] pixelzoom commented on #70
- [x] XYCursorPlot is accessing private fields of superclass ScrollingChartNode: `plotWidth`, `plotHeight`

- [x] ChartCursor is accessing private API of XYPlotCursor: `plotWidth`, `plotHeight`, `minRecordedXValue`, `maxRecordedXValue`

- [x] SeismographNode subclass is accessing private fields of ScrollingChartNode

[2020-09-17 18:27] pixelzoom commented on #70
More...

- [x] ESP EnergyAccordionBox is accessing `@protected` field `this.graphPanel` of ScrollingChartNode

- [x] "graph" and "chart" are used interchangeably in APIs.  Pick one and use it consistently.  EDIT: I went with "chart".

[2020-09-17 18:43] pixelzoom commented on #70
An issue, throughout griddle and spilling over into sims, is terminology.  I see "plot", "chart", and "graph" being used interchangeably.  A plot is not a chart.  A plot displays a data set (aka data series).  A chart displays one or more plots.  Names like XYCursorPlot and ESP.EnergyPlot are incorrect and misleading - they are charts, not plots. I'll create a separate issue for terminology.

So..

[2020-09-17 18:46] pixelzoom opened #71 "griddle uses incorrect/inconsistent terminology"
Noted in https://github.com/phetsims/griddle/issues/70#issuecomment-694426710 and relevant for https://github.com/phetsims/fourier-making-waves/issues/3:

Assigning to @jessegreenberg and @samreid (the primary authors of griddle components) for discussion.

[2020-09-17 18:56] pixelzoom commented on #71
For proper use of terminology, see hookes-law EnergyGraph, EnergyPlot, and XYPointPlot.

[2020-09-22 14:31] Denz1994 commented on #68
Thanks for catching this memory leak. The dispose function added should have fixed this issue. Also, the refactoring of `yRangeProperty` is more specific to its purpose. Thanks for the changes. Closing this one.

[2020-09-22 14:31] #68 closed, assigned to Denz1994

[2020-09-22 18:24] jessegreenberg commented on #71
I do like the XY prefix. I am not aware of plans for 3D, but this is clear and leaves it open. The old XYPlotNode was removed. A more general issue was opened for renaming several things in Griddle I am going to move this over there.

[2020-09-22 18:25] jessegreenberg commented on #71
Oops, I meant to put that comment in #63, reopening.

[2020-09-22 18:26] jessegreenberg commented on #63
I do like the XY prefix. I am not aware of plans for 3D, but this is clear and leaves it open. The old XYPlotNode was removed. A more general issue was opened for renaming several things in Griddle I am going to move this to #71.

[2020-09-22 18:26] #63 closed, assigned to samreid

[2020-09-22 18:39] jessegreenberg commented on #71
In #63 @pixelzoom said

which is what https://github.com/phetsims/griddle/issues/71#issuecomment-696898597 comment was intended for.

Given that and

I think the following renaming of things in griddle makes sense:
- Rename ScrollingChartNode -> XYPlotNode
- Rename XYCursorPlot -> XYCursorPlotNode
- BarChartNode ->XYBarChartNode (chart applies here, but it should also have the XY prefix)

[2020-09-22 18:45] pixelzoom commented on #71
Those renames sound good.  But I think BarChartNode is fine as is -- I've never seen a bar chart that is anything other than 2D.  The Wikipedia entry on Bar Chart is pretty clear on the 2D nature, and even says "One axis of the chart shows the specific categories being compared, and the other axis represents a measured value."

[2020-09-22 22:12] jessegreenberg commented on #71
Sounds good, I wasn't sure about that one. I went ahead with the rename of the others in https://github.com/phetsims/griddle/issues/71#issuecomment-696910040, including the one you mentioned in ESP.

Do you think there is anything else for this issue?

[2020-09-22 22:20] jessegreenberg commented on #71
Should the ChartCursor (inner class of XYCursorPlotNode) be renamed to PlotCursor?

[2020-09-22 22:23] jessegreenberg commented on #70
Thanks for all of this cleanup, changes are a big improvement. Since we were are discussing terminology in #71, I noticed a few things got changed from "plot" -> "chart", like `chartWidth`, `chartHeight`, `chartPanel`. But we decided that XYCursorPlotNode is a "plot" in #71. Should these all be renamed to plot for consistency?

[2020-09-23 03:10] pixelzoom commented on #71
Oh geeze, I'm so sorry... Those name changes in https://github.com/phetsims/griddle/issues/71#issuecomment-696906796 are _not_ correct.

XYPlotNode is a chart, not a plot.  A chart is the grid + axes + plots --- the whole package.

A plot is what's drawn on the chart - the rendering of one data set (e.g DynamicSeries).

A chart should be able to draw multiple plots - this is what you're doing with

[2020-09-23 03:11] pixelzoom commented on #70
No, those names should definitely be "chart".  See https://github.com/phetsims/griddle/issues/71#issuecomment-697106346.

[2020-10-06 21:47] samreid opened #72 "Chart labels are created 2x as many times as necessary"
From https://github.com/phetsims/circuit-construction-kit-common/issues/601#issuecomment-704384701

[code]

[2020-10-29 01:50] zepumph commented on #46
- [ ] @jessegreenberg while working on https://github.com/phetsims/sun/issues/657, I found that this line here passes a radius to a RectangularButton. Can we remove it? It was added in b0344ba89169855a8b5a97e5f46184719ea2e5b0, or at least moved around. I think it can be removed.

[2020-11-02 19:44] pixelzoom opened #73 "chart's cursor doesn't stop moving when you press on it"
To reproduce:

1. Run griddle demo
2. Select "XYCursorChartNode" from the combo box
3. Press on the chart's cursor (but do not drag) before it reaches the right edge of the graph. The cursor is now connected to the pointer's drag listener, but the cursor keeps moving.
4. Wait 1 second, then drag.  Now the cursor jumps back to where the pointer is.

This is not a good UX, and had me really confused

[2020-11-02 19:54] pixelzoom opened #74 "griddle lacks "plot" abstraction"
In https://github.com/phetsims/griddle/issues/71#issuecomment-697106346, I discussed terminology:

And I noted that griddle currently lacks a "plot":

Issues:

* XYCursorChartNode can only draw one type of plot, as indicated by `plotStyle`.  It should not care about the plot style, and should defer to XYPlotNode for how to render data.

* Documentation for DynamicSeriesNode says "This class render

[2020-11-02 20:06] pixelzoom opened #75 "Missing or incorrect visibility annotations in griddle"
- [x] XYChartNode:

[code]

- [ ] XYCursorChartNode.ChartCursor

[code]

`this.chart` and `this.modelViewTransformProperty` also appear to be unused outside of the constructor. Do they really need to be properties?

- [ ] PointStyledVector2

Is `this.pointStyle` mutable, or should it be `@public (read-only)`?

[code]

[2020-11-02 20:07] pixelzoom commented on #71
Back to @jessegreenberg for review. If the renames looks OK here, feel free to close.

[2020-11-02 20:58] pixelzoom opened #76 "BarChartNode does not support XY data sets"
In Fourier, we need to plot (x,y) data as a bar chart:

<img width="738" alt="screenshot_647" src="https://user-images.githubusercontent.com/3046552/97917621-f7902280-1d11-11eb-845c-5f4fb96078d1.png">

A couple of problems that make BarChartNode unusable for Fourier:

* BarChartNode does not support model-view transform for the x axis. XYChartNode has a modelViewTransformProperty, which handles (x

[2020-11-02 23:49] pixelzoom opened #77 "griddle doesn't have a consistent approach to model-view transform and ranges"
BarChartNode has no model-view transform, and no model-view transform support for the x axis.  It has constructor param `yRangeProperty` (in model coordinates) and `barSpacing` (in view coordinates?) and BarNode has option `scaleProperty` (to scale y model to view?).  This is all very odd and should have been addressed with a standard ModelViewTransform2.

XYChartNode has option `{Property.<ModelV

[2020-11-03 01:14] pixelzoom commented on #70
Note that XYCursorPlot is now named XYCursorChartNode.

[2020-11-04 02:49] ariel-phet commented on #54
Sounds like there won't be much movement on this topic for Fourier, so closing.

[2020-11-04 14:17] pixelzoom commented on #54
Reopening.  In https://github.com/phetsims/fourier-making-waves/issues/3#issuecomment-721293038, I said:

This issue is about coming up with "big picture", which is the overall design.  Does closing this issue mean that there will be n movement on design, and therefore no migration from Fourier to griddle?

[2020-11-04 14:33] pixelzoom commented on #54
I'm also curious about why this issue is being closed because "there won't be much movement on this topic for Fourier".   I've evaluated griddle for 2 sims that make heavy use of charts (Natural Selection, Fourier).  griddle was found lacking in both cases, and we made the (imo unfortunate) decision to proceed with expensive sim-specific charts.   There is a problem here, and this issue is suppose

[2020-11-04 14:42] pixelzoom commented on #54
Reopening.  This issue was created to address the big picture for griddle, which includes overall design.

In https://github.com/phetsims/fourier-making-waves/issues/3#issuecomment-721293038, I said:

I'm curious about why this issue is being closed because "there won't be much movement on this topic for Fourier". I've evaluated griddle for 2 sims that make heavy use of charts (Natural Selection,

[2020-11-05 19:00] ariel-phet commented on #54
Sounds good @pixelzoom - I will mark deferred instead and this issue can hang out until the time comes when this work is perceived as a priority.

[2020-11-06 19:54] samreid commented on #54
Brainstorming some other options regarding Fourier:

* Use some parts of griddle (like the chart backgrounds), even if we do not use everything in griddle
* Any charting parts that are added for Fourier should be added in griddle, with the intent that they can be reused in the future

[2020-11-06 23:01] pixelzoom commented on #54
@samreid said:

I can't implement something that "should be added in griddle" when I have no idea what the needs or requirements are, and no resources will be allocated to identify those requirements.  If this is a goal, then PhET needs to identify an overall plan for griddle, which at the very least attempts to describe the charting needs for future sims. And my understanding (from comments above

[2020-11-06 23:09] samreid commented on #54
I agree. In my opinion it is shortsighted and inefficient to keep adding sim-specific charts.

@ariel-phet can you please clarify? Is there room for this decision to be re-evaluated?

UPDATE: I'm removing the deferred label in case @ariel-phet isn't looking at deferred issues, this just means the issue is undeferred for discussion, not undeferred for work.

UPDATE: https://github.com/phetsims/four

[2020-11-10 15:23] samreid opened #78 "GridLine lines in wrong locations"
Related to https://github.com/phetsims/circuit-construction-kit-common/issues/600 and discovered in https://github.com/phetsims/fourier-making-waves/issues/8, the GridLine is giving the wrong results for the Fourier amplitude chart, and is off-center.

Running with this implementation of DiscreteAmplitudePanel:

<details>

[code]

</details>

We would like to see tick marks at -1.0, -0.5, 0.0, 0.5

[2020-11-10 15:28] samreid commented on #78
Proposed fix is in the commit.  As far as I can tell, this is working well in Fourier, CCK AC and Energy Skate Park and the Griddle demo.  @jessegreenberg can you please review?

[2020-11-10 23:18] pixelzoom opened #79 "missing visibility annotation for the GridNode"
XYChartNode is missing visibility annotation for the GridNode that it creates:

[code]

Added by @jessegreenberg in f4bdbc34455d096f1348fe6542c263865ec292e3, but @samreid is actively working on griddle. So I'll assign to both.

[2020-11-11 00:29] samreid opened #80 "XYChartNode should be able to render axis labels."
In https://github.com/phetsims/fourier-making-waves/issues/8 @pixelzoom suggested that XYChartNode should be able to render axis labels.  The design for https://github.com/phetsims/fourier-making-waves/issues/8 is under consideration, and this feature may not be used there.

What should the API be for this feature?  How would I tell a chart to show major grid labels on the left, and an axis label

[2020-11-11 01:41] pixelzoom opened #81 "rename XYChartNode options"
While reviewing https://github.com/phetsims/fourier-making-waves/issues/8, I came across these options in XYChartNode:

[code]

This class is named `XYChartNode`. So referring to "vertical" and "horizontal" is unnecessarily verbose, unless we plan to swap x & y (which I doubt).   It's also inconsistent with options `defaultModelXRange` and `defaultModelYRange`.  So recommended to replace "vertical

[2020-11-11 01:44] pixelzoom commented on #81
While we're on the topic of XYChartNode options:

[code]

There's no Panel in XYChartNode, so this name is misleading.  If it's a Rectangle, maybe call it `backgroundRectangleOptions`.

[2020-11-11 01:47] pixelzoom opened #82 "unnecessary merge in XYChartNode"
In XYChartNode, I'm trying to figure out what 2 `merge` calls are needed here.  Why can't this be done with 1 `merge`?

[code]

[2020-11-11 01:50] pixelzoom opened #83 "Fix terminology for tick marks and tick labels in XYChartNode"
In https://github.com/phetsims/griddle/issues/81, I said:

This unfortunate "grid lines" terminology extends beyond options.

[code]

Recommended to fix terminology to refer to tick marks and tick labels throughout.

[2020-11-11 01:58] pixelzoom opened #84 "XYChartNode support for axes, tick marks, and tick labels"
Here's XYChartNode in the griddle demo:

<img width="561" alt="screenshot_671" src="https://user-images.githubusercontent.com/3046552/98755435-c5239c80-2385-11eb-8bf2-74cc3376bca7.png">

Where are the axes, typically drawn through (0,0) ?

Also note the absence of tick marks. There are tick labels, but no tick marks. That might be a (non-default) option, but I doubt that this is acceptable for PhE

[2020-11-11 02:07] pixelzoom commented on #80
In reference to the x-axis label on this chart:

![image](https://user-images.githubusercontent.com/679486/98632344-92719980-22dc-11eb-8268-b02c49f3bf79.png)

In https://github.com/phetsims/fourier-making-waves/issues/8#issuecomment-724860566, @samreid said:

In https://github.com/phetsims/fourier-making-waves/issues/8#issuecomment-724865487, I asked:

Should I not expect to be able to implement t

[2020-11-11 02:16] samreid commented on #42
This was developed in griddle for Energy Skate Park, and we can port other sims to use it as necessary, closing.

[2020-11-11 02:16] #42 closed, assigned to jessegreenberg

[2020-11-11 02:18] samreid commented on #43
This is now implemented in DynamicSeries, closing.

[2020-11-11 02:18] #43 closed, assigned to jessegreenberg

[2020-11-11 02:19] samreid commented on #45
This was added to griddle in 2019 and is in usage in Energy Skate Park and in the Griddle demo.  Closing for now, we can reopen or create a new issue if there is more work to do.

[2020-11-11 02:19] #45 closed, assigned to jessegreenberg

[2020-11-11 02:24] samreid commented on #71
@pixelzoom should we rename DynamicSeriesNode => CanvasPlotNode?  Should we rename DynamicSeries => XYPlotData or XYDataModel or XYDataSeries?

UPDATE: There is a good answer in https://github.com/phetsims/griddle/issues/74#issue-734777503, I recommend we continue in that issue.

[2020-11-11 02:27] #71 closed, assigned to pixelzoom

[2020-11-11 02:31] samreid opened #85 "Add axes nodes"
From https://github.com/phetsims/griddle/issues/50

[2020-11-11 02:36] samreid commented on #50
All remaining work (other than reviewing JFreeChart plot APIs) is tracked elsewhere, and I took a scroll through http://www.jfree.org/jfreechart/api/javadoc/org/jfree/chart/plot/XYPlot.html and http://www.jfree.org/jfreechart/api/javadoc/org/jfree/data/xy/XYDataset.html, closing.

[2020-11-11 02:36] #50 closed, assigned to jessegreenberg

[2020-11-11 02:37] samreid commented on #85
Let's cover this in https://github.com/phetsims/griddle/issues/84, closing as duplicate.

[2020-11-11 02:37] #85 closed, assigned to samreid

[2020-11-11 02:39] samreid commented on #76
This should be implemented on top of XYChartNode (or a related abstraction), not BarChartNode, since this is more of a 2D data set than a categorical bar chart data set.

[2020-11-11 02:41] samreid commented on #70
It seems everything is checked off here except for things that were moved to other issues.  I reviewed the commit messages and didn't see any trouble.  Closing.

[2020-11-11 02:41] #70 closed, assigned to jessegreenberg

[2020-11-12 02:43] samreid opened #86 "Refactor griddle XYChartNode so it is more decorator/composition friendly"
There is a lot hard-coded into XYChartNode, and it is difficult to see how it can support every permutation of decoration or design we will want.  Instead, let's try removing functionality from XYChartNode such as (what is currently known as the grid labels) and make it easier to add position-specific decorators on the chart.  This can be used for rendering data, showing the cursor, showing the ax

[2020-11-12 02:44] samreid commented on #80
This may be addressed in https://github.com/phetsims/griddle/issues/86

[2020-11-12 16:58] samreid opened #87 "branch: bamboo"
For #86

[2020-11-12 23:04] pixelzoom commented on #84
From https://github.com/phetsims/fourier-making-waves/issues/8#issuecomment-726395536:

* Tick labels need to support different formats. Different sims have different formatting needs, and options `verticalGridLabelNumberOfDecimalPlaces` and `horizontalGridLabelNumberOfDecimalPlaces` are not sufficient.

* Charts (in general) need to support axes and tick marks.

[2020-11-13 06:18] samreid commented on #86
Question for designers: do we need to support nonlinear model->view mappings, for example, for log plots?

[2020-11-14 00:37] samreid commented on #86
Notes from discussion with @jonathanolson:

* Generally, this is a good approach and good direction to pursue.  Beneficial to have separate modular components.
* Research the APIs for Mathematica and Google Charts for how they are customizable.  No need to do everything at once, but just make sure not to paint ourselves into a corner.
* Consider the interaction between modular parts.  For instance

[2020-11-14 00:39] samreid commented on #84
In https://github.com/phetsims/griddle/issues/86 we are pursuing a paradigm that makes the axes and tick marks, tick labels more customizable.

[2020-11-14 05:57] samreid commented on #86
Adding a reference to https://github.com/phetsims/fourier-making-waves/issues/3

[2020-11-14 15:31] samreid commented on #86
Other questions and concerns:

* What should the PhET-iO capabilities be?
* What should the a11y capabilities be?
* How long will we support 2 implementations

[2020-11-16 18:37] samreid opened #88 "Support nonlinear transforms in each dimension"
In discussion with @jonathanolson in https://github.com/phetsims/griddle/issues/86#issuecomment-727100739, we agreed that our charting library should be able to represent nonlinear transforms for the data.  For instance, this would allow us to show log plots.  We don't have an immediate need for this feature right now, but would like to make sure we don't paint ourselves into a corner in the futur

[2020-11-16 21:45] samreid commented on #86
@pixelzoom and I reviewed this today:

CM: This seems pretty nice.
CM: Should we abandon griddle and just go towards bamboo?

SR: Should bamboo be nested in griddle?  Or a separate repo?
CM: It may be preferable in a separate repo.
CM: Maybe ask another developer.  Maybe JO.

SR: What else does Fourier need before this can be usable?
CM: I can take it for a test drive.

CM: What about separating T

[2020-11-16 21:52] samreid commented on #86
@ariel-phet agreed @pixelzoom can review this and continue with this, and it will count as part of the Fourier common code time.

@ariel-phet indicated that Fourier, Eating & Exercise and Moving Man will use this, so it makes sense for @samreid and @pixelzoom to take the lead.

I also pointed out that the CCK-AC scrolling chart nodes require features not yet supported by griddle, and that I may us

[2020-11-16 23:33] samreid commented on #86
I separated LabelSet out of TickMarkSet and fixed the min/max problem.

[2020-11-17 04:20] samreid commented on #87
I merged this to master, closing.

[2020-11-17 04:20] #87 closed, assigned to samreid

[2020-11-18 22:44] pixelzoom opened #89 ""axis" vs "orientation" in bamboo API"
Throughout the bamboo API, parameter `{Orientation} orientation` is confusing.  It means the orientation of the axis that the component is associated with, not the orientation of the component itself.  So changing `orientation` to `axis` would be clearer.  Using `{Orientation}` to mean "which axis" also seems wrong/confusing, so a new enum seems needed.

<details>
<summary>Slack discussion</summar

[2020-11-18 22:45] pixelzoom commented on #89
How about just changing `{Orientation} orientation` to `{Orientation} axisOrientation`?

[2020-11-18 22:46] pixelzoom commented on #89
How about just changing `{Orientation} orientation` to `{Orientation} axisOrientation` throughout?   That should clarify, and `{Orientation}` then seems appropriate.

[2020-11-18 23:14] samreid commented on #89
Fixed in the commits.  No changes to Fourier were necessary because of the other "Todo: is this backwards" bug I fixed at the same time.  Ready for review.  Close if all is well.

[2020-11-19 00:30] pixelzoom commented on #89
👍🏻 Closing.

[2020-11-19 00:30] #89 closed, assigned to pixelzoom

[2020-11-20 01:04] samreid opened #90 "Move bamboo to a new repo"
Today at developer meeting, we agreed bamboo should be moved to a new repo, keeping the history if possible.  I'll do so.

[2020-11-20 01:13] samreid commented on #31
From today's CCK meeting: We determined that the non-scrolling grid lines look buggy for a DC signal (where nothing is moving).  Hence CCK will keep the moving gridlines.  Also, we think having moving gridlines in Wave Interference may look nicer, since the gridlines will travel with the curves.  Ultimately, we decided not to pursue that because it is using a version of griddle that doesn't suppor

[2020-11-20 13:19] samreid commented on #90
Move completed and will continue in https://github.com/phetsims/bamboo/issues/1, closing.

[2020-11-20 13:19] #90 closed, assigned to samreid

[2020-11-21 03:00] samreid commented on #86
We moved this to a new repo "bamboo", closing.

[2020-11-21 03:00] #86 closed, assigned to samreid

[2020-11-21 03:01] samreid commented on #84
As far as I can tell, bamboo supports all of the features requested in this issue.  @pixelzoom can this be closed?

[2020-11-21 03:01] samreid commented on #83
As far as I can tell, this is solved by bamboo.  @pixelzoom can this issue be closed?

[2020-11-21 03:02] samreid commented on #82
I'm not planning on working on this soon, it seems like we will deprecate some or all of griddle and proceed with bamboo.

[2020-11-21 03:04] samreid commented on #81
As far as I can tell, this is less problematic in bamboo.  @pixelzoom can this issue be closed?

[2020-11-21 03:04] samreid commented on #80
This is addressed in bamboo, @pixelzoom can this issue be closed?

[2020-11-21 03:05] samreid commented on #79
Fixed, closing.

[2020-11-21 03:05] #79 closed, assigned to samreid, jessegreenberg

[2020-11-21 03:06] samreid commented on #78
After double checking, I no longer think the correct needs a review, closing.

[2020-11-21 03:06] #78 closed, assigned to jessegreenberg

[2020-11-21 03:07] samreid commented on #77
As far as I can tell, this problem is corrected in bamboo.  @pixelzoom can this issue be closed?

[2020-11-21 03:08] samreid commented on #76
This support was added to bamboo, and looks like this in the demo:

![image](https://user-images.githubusercontent.com/679486/99866148-16911000-2b6c-11eb-9562-c18b5e7427c4.png)

Closing.

[2020-11-21 03:08] #76 closed, assigned to nobody

[2020-11-21 03:11] samreid commented on #75
Fixed, closing.

[2020-11-21 03:11] #75 closed, assigned to jessegreenberg

[2020-11-21 03:11] samreid commented on #74
As far as I can tell, this is fixed in bamboo.  @pixelzoom can this issue be closed?

[2020-11-21 03:12] samreid commented on #73
We will probably need to maintain the griddle cursor chart for a while, but I would like to add one to bamboo.

[2020-11-21 03:15] samreid commented on #54
Bamboo corrects many of the deficiencies identified in this issue, and will be used for development in Fourier, and Eating & Exercise, and is already in use in Circuit Construction Kit: AC.

[2020-11-21 03:15] #54 closed, assigned to nobody

[2020-11-21 03:15] samreid commented on #48
Bamboo has good support for scrolling charts (see usage in Circuit Construction Kit: AC), I recommend we close this and focus our efforts there.

[2020-11-21 03:15] #48 closed, assigned to jessegreenberg

[2020-11-21 03:17] samreid commented on #47
For charts that require this level of flexibility, it may be easier to use bamboo.

[2020-11-21 03:19] samreid commented on #46
This duplication in griddle has mostly been eliminated, and new charts may be better to develop with bamboo.  I'll open a new issue for the preceding comment, but @pixelzoom can this issue be closed?

[2020-11-21 03:20] samreid opened #91 "Should this radius be passed to Rectangular Button?"
From https://github.com/phetsims/griddle/issues/46

[2020-11-21 03:22] samreid commented on #31
Bamboo supports scrolling gridlines, and I think it would be easy to make non-scrolling gridlines (by ignoring the chart transform).  However, we didn't identify any cases where those would be necessary, so I think this issue can be closed.

[2020-11-21 03:22] #31 closed, assigned to jessegreenberg

[2020-11-21 03:23] samreid commented on #9
I think bamboo provides most or all of the requested features.  Any missing features would be hopefully easy to add.  I don't see an immediate need to port least-squares-regression to bamboo, but that will be an option for the future if other changes are required in that area.  I recommend closing this issue.

[2020-11-21 03:23] #9 closed, assigned to nobody

[2020-11-21 03:25] samreid commented on #4
I believe those types are now called DynamicSeries, DynamicSeriesNode and XYChartNode.  In other issues, some of the visibility annotations were added.  However, I recommend deprecating these types and using bamboo for future development.  @pixelzoom can this issue be closed?

[2020-11-21 03:30] samreid opened #92 "How to deprecate griddle?"
We created a new charting library "bamboo" that corrects many of griddle's deficiencies.  How/when should be deprecate griddle?  Some possibilities:

- [x] Add documentation to README.md
- [x] Add documentation to the deprecated files
- [x] add `assert && deprecationWarning(...)` to the affected constructors

Should all parts of griddle be deprecated?  The main files that seem like they should not

[2020-11-22 05:32] pixelzoom commented on #4
Agreed, no reason to spend time on deprecated code. Closing.

[2020-11-22 05:32] #4 closed, assigned to pixelzoom

[2020-11-22 05:33] pixelzoom commented on #46
Sure, let's close.

[2020-11-22 05:33] #46 closed, assigned to pixelzoom

[2020-11-22 05:34] pixelzoom commented on #74
Yes, LinePlot meets this need. Closing.

[2020-11-22 05:34] #74 closed, assigned to pixelzoom

[2020-11-22 05:34] pixelzoom commented on #77
Yes, addressed in bamboo.  No need to spend time on deprecated (griddle) code. Closing.

[2020-11-22 05:34] #77 closed, assigned to pixelzoom

[2020-11-22 05:35] pixelzoom commented on #80
Yes, addressed by bamboo. Closing.

[2020-11-22 05:35] #80 closed, assigned to pixelzoom

[2020-11-22 05:35] pixelzoom commented on #84
Yes, addressed by bamboo. Closing.

[2020-11-22 05:35] #84 closed, assigned to pixelzoom

[2020-11-22 05:36] pixelzoom commented on #83
Yes, addressed by bamboo. No need to address in deprecated (griddle) code. Closing.

[2020-11-22 05:36] #83 closed, assigned to pixelzoom

[2020-11-22 05:36] pixelzoom commented on #81
Yes, addressed by bamboo. No need to address in deprecated (griddle) code. Closing.

[2020-11-22 05:36] #81 closed, assigned to pixelzoom

[2020-11-22 05:41] pixelzoom commented on #92
For the deprecated classes, we should do what PhET has done elsewhere (SimpleDragHandler, etc.):

- [ ] add `@deprecated` annotations, so that they are flagged in WebStorm
- [ ] add `assert && deprecationWarning(...)` so that they are noted during code review

Re `GridNode`.... I'm not a fan.  The same thing can be done with bamboo, and much more cleanly.

Re `SpanNode`... I'm not familiar with th

[2020-11-23 17:06] jessegreenberg commented on #91
I took a look at the commit https://github.com/phetsims/griddle/commit/b0344ba89169855a8b5a97e5f46184719ea2e5b0, I think you are referring to the `zoomButtonOptions`:

[code]

In this case, `radius` is a ZoomButton option for the magnifying glass icon, so I think it needs to stay.

[2020-11-23 19:00] zepumph commented on #91
It would by my opinion to rename this option so that this confusion doesn't happen again. What about `zoomRadius`?

[2020-11-23 19:18] jessegreenberg commented on #91
Sure, I could see that. There other options with `magnifyingGlass` as the prefix so maybe `magnifyingGlassRadius`. This is a scenery-phet component though used in many places outside of griddle. I am going to move the recommendation there.

[2020-11-23 19:36] jessegreenberg commented on #91
I made https://github.com/phetsims/scenery-phet/issues/645

[2020-11-23 19:36] #91 closed, assigned to jessegreenberg

[2020-11-23 19:52] jessegreenberg commented on #73
This behavior was caused by a problem in the demo, it stopped recording data on the optional `drag` callback rather than the optional `startDrag` of `cursorOptions`. Fixed in the above commit, closing.

[2020-11-23 19:52] #73 closed, assigned to jessegreenberg

[2020-11-23 20:10] jessegreenberg commented on #72
It looks like CCK is no longer using SeismographNode or XYChartNode, Ill try to reproduce in ESP.

[2020-11-23 20:14] jessegreenberg commented on #72
Zooming in or out of the XYChartNode in EnergySkatePark by clicking on the ZoomButtons in EnergyGraphAccordionBox, I am only seeing one call to XYChartNode.redrawLabels when I put a console statement in that function.

[2020-11-23 20:18] jessegreenberg commented on #72
OK, I do see two calls to XYChartNode.redrawVerticalLabels when I use the SeismographNode in the griddle demo.

EDIT: We have one call from SeismographNode, which causes a redraw of labels when line spacings are set in response to `verticalRangeProperty` changing. The other call is from the listener on the modelViewTransformProperty in XYChartNode.

[2020-11-23 20:28] jessegreenberg commented on #72
I guess this seems fairly reasonable to me. The labels will need to ensure they are drawn correctly if grid line spacings change, or if the modelViewTransform for the chart changes. So maybe we can try to only recreate content if we detect a change somehow.

[2020-11-23 20:52] jessegreenberg commented on #72
I was just about to commit a change that would only draw labels when the positions of labels had changed, it looked something like
[code]

But that didn't work with functions like `setVerticalGridLabelNumberOfDecimalPlaces`, labels need to be redrawn in that case without a change in position.

Should we check if positions or precision of labels have changed before redrawing labels? Does this seem

[2020-11-23 21:07] samreid commented on #72
I'm not sure that level of optimization is necessary, unless there is a simulation-specific bottleneck that can be traced to this implementation.

[2020-11-23 21:39] samreid commented on #92
@jessegreenberg and I reviewed this today, in particular about GridNode API and about deprecating things that don't necessarily have a replacement at the moment, such as the chart cursor, and grid node.

We identified a bamboo bug where gridlines can get out of bounds, I'll create a new issue for that

![image](https://user-images.githubusercontent.com/679486/100017648-78ce5880-2d98-11eb-80ee-6fc1

[2020-11-23 21:49] jessegreenberg commented on #72
Sounds good, I agree. I think that is especially true since new code for charts are going to start using bamboo. I am going to close this issue.

[2020-11-23 21:49] #72 closed, assigned to jessegreenberg

[2020-11-23 22:04] samreid commented on #92
I added deprecation warnings and JSDoc.  I did not update the README, because it may be auto-generated.  All remaining work tracked elsewhere, closing.

[2020-11-23 22:04] #92 closed, assigned to samreid

[2021-01-28 17:19] jonathanolson commented on #47
Closing, we don't need to support this (bamboo handles it).

[2021-01-28 17:19] #47 closed, assigned to Denz1994

[2021-02-26 13:21] samreid commented on #82
`XYChartNode` has been marked as deprecated and we will not merge the merge calls, closing.

[2021-02-26 13:21] #82 closed, assigned to nobody

[2021-02-26 13:23] samreid commented on #40
It seems best to answer these questions in sim-specific contexts if/when it comes up, let's close this more general issue.

[2021-02-26 13:23] #40 closed, assigned to amanda-phet